@charset "UTF-8";
/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the 'User-Agent-Stylesheet', except for the 'display' property
    - The 'symbol *' part is to solve Firefox SVG sprite bug
    - The 'html' element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

/* inputタグを表示されるようにする */
input {
  -webkit-appearance: revert;
     -moz-appearance: revert;
          appearance: revert;
}

html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  box-sizing: border-box;
  scroll-padding-top: 8rem;
  font-size: 10px;
  margin-top: 8rem;
}
@media (min-width: 768px) and (max-width: 980px) {
  html {
    font-size: 1.0204081633vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 2.6666666667vw;
    margin-top: 5rem;
    scroll-padding-top: 5rem;
  }
}

body {
  color: #000000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.6rem;
}

#main {
  background-color: #ddd;
  padding: 50px 0;
}

@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}

#container {
  width: 100%;
}

.inner {
  width: 88rem;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 767px) {
  .inner {
    width: 31.5rem;
  }
}

.l-header {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-header__wrapper, .l-header__logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.l-header__item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.l-header__nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 3.3rem;
       column-gap: 3.3rem;
}
.l-header__button {
  width: 15rem;
  height: 4.5rem;
  display: flex;
}
.l-header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .l-header .inner {
    display: initial;
  }
}
.l-header__items {
  display: flex;
}
.l-header__nav ul {
  display: flex;
  -moz-column-gap: 3.3rem;
       column-gap: 3.3rem;
}

.c-form-btn {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
}
.c-form-btn a {
  line-height: 1.65;
  color: #ffffff;
  font-size: 2rem;
}
.c-fix-area {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.8rem;
  height: 6.8rem;
  transition: all 0.5s;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .c-fix-area {
    width: 5rem;
    height: 5rem;
    right: 2rem;
  }
}

.c-text {
  color: rgb(203, 0, 0);
  font-weight: bold;
}

.c-sectionTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 767px) {
  .c-sectionTitle {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}

.p-blog {
  padding: 7rem 0 20.5rem 0;
}
.p-blog__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  margin-top: 3.8rem;
}
@media (max-width: 767px) {
  .p-blog__items {
    margin-top: 3.9rem;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4.1rem;
  }
}
@media (max-width: 767px) {
  .p-blog__item {
    width: initial;
  }
}
.p-blog__comment {
  padding: 2rem 0 1.1rem 0;
}
.p-blog__comment a {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
}
.p-blog__date {
  padding-top: 1.1rem;
  text-align: right;
}
.p-blog__date time {
  font-size: 1.7rem;
}
.p-blog__link {
  margin-top: 3.7rem;
  text-align: right;
}
.p-blog__link span {
  border-bottom: 0.1rem solid #000;
}

.p-concept {
  position: relative;
  padding: 6.6rem 0 5.5rem 0;
}
@media (max-width: 767px) {
  .p-concept {
    padding: 3.4rem 0 4.6rem 0;
  }
}
.p-concept__title h2 {
  font-size: 3.5rem;
  text-align: center;
  line-height: 1.4285714286;
}
@media (max-width: 767px) {
  .p-concept__title h2 {
    font-size: 2.5rem;
    line-height: 1.6;
    font-weight: bold;
  }
}
.p-concept__title p {
  font-size: 1.8rem;
  margin-top: 1.7rem;
  margin-bottom: 3.4rem;
  text-align: center;
  line-height: 1.6666666667;
}
@media (max-width: 767px) {
  .p-concept__title p {
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }
}
.p-concept__flow {
  position: relative;
}
.p-concept__flow-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .p-concept__flow-detail {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
:nth-of-type(1) .p-concept__flow-detail::before {
  top: -18%;
  left: 50%;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  width: 2.5rem;
  height: 2.5rem;
  border-top: 0.3rem solid rgb(203, 0, 0);
  border-left: 0.3rem solid rgb(203, 0, 0);
  transform-origin: left top;
}
:nth-of-type(1) .p-concept__flow-detail::after {
  content: "";
  position: absolute;
  top: -2.5rem;
  transform: translateX(-50%);
  width: 0.3rem;
  height: 15.8rem;
  background-color: rgb(203, 0, 0);
  transform-origin: left top;
  left: 44rem;
}
@media (max-width: 767px) {
  :nth-of-type(1) .p-concept__flow-detail::after {
    left: 50%;
  }
}
.p-concept-flow-detail__en {
  font-size: 2.5rem;
  line-height: 2;
  text-align: right;
  width: 18rem;
  font-weight: bold;
}
@media (max-width: 767px) {
  .p-concept-flow-detail__en {
    font-size: 2rem;
    line-height: 2.5;
  }
}
.p-concept-flow-detail__circle {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(203, 0, 0);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 3rem;
}
@media (max-width: 767px) {
  .p-concept-flow-detail__circle {
    margin: initial;
  }
}
.p-concept-flow-detail__ja {
  font-size: 2.3rem;
  line-height: 2.1739130435;
  width: 18rem;
}
@media (max-width: 767px) {
  .p-concept-flow-detail__ja {
    font-size: 2rem;
    line-height: 2.5;
  }
}

.p-faq__accordion {
  padding: 5.3rem 0 0 0;
}
.p-faq__accordion-question {
  padding: 2rem 2.8rem 1.7rem 1.9rem;
  border-bottom: 0.05rem solid #000000;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .p-faq__accordion-question {
    padding: initial;
  }
}
.p-faq__accordion-question:hover {
  cursor: pointer;
}
.p-faq__accordion-question::before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "Q";
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #000;
  color: #ffffff;
}
.p-faq__accordion-question::after {
  position: absolute;
  content: "";
  width: 1.36rem;
  height: 1.36rem;
  border-right: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  left: 85.5%;
  transform: rotate(45deg);
}
.p-faq__accordion-question:first-of-type {
  border-top: 0.05rem solid #000000;
}
.p-faq__accordion-question span {
  padding-left: 4.1rem;
  font-size: 1.7rem;
  line-height: 1.7647058824;
}
@media (max-width: 767px) {
  .p-faq__accordion-question span {
    display: inline-block;
    padding: 1rem 0;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 5.5rem;
    width: 23.3rem;
  }
}
.p-faq__accordion-answer {
  display: none;
  padding: 2rem 2.8rem 1.7rem 1.9rem;
  border-bottom: 0.05rem solid #000000;
}
@media (max-width: 767px) {
  .p-faq__accordion-answer {
    padding: initial;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .p-faq__accordion-answer span {
    padding: 1.7rem 4.7rem 0.9rem 5.5rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
.p-faq__accordion-answer::before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "A";
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: rgb(203, 0, 0);
  color: #ffffff;
}
.p-faq__accordion-answer span {
  display: inline-block;
  padding-left: 4.1rem;
  font-size: 1.7rem;
  line-height: 1.7647058824;
}
.footer__wrapper {
  background-color: rgb(203, 0, 0);
  padding: 4.4rem 0 5rem 0;
}
.footer__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 3.3rem;
       column-gap: 3.3rem;
}
.footer__nav ul li {
  color: #ffffff;
}
.footer__copyright p {
  text-align: center;
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.1rem 0 2.3rem 0;
}
.footer__sns-links {
  margin-top: 3.2rem;
}
.footer__sns-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 4.1rem;
       column-gap: 4.1rem;
}

.p-header {
  z-index: 1000;
  width: 100%;
  height: 8rem;
  left: 0;
  top: 0;
  transition: all 0.3s;
  position: fixed;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .p-header {
    height: 5rem;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .p-header .inner {
    width: 100%;
  }
}
.p-header__wrapper {
  display: flex;
}
@media (max-width: 767px) {
  .p-header__wrapper {
    padding-left: 2rem;
    height: 5rem;
    justify-content: space-between;
  }
}
.p-header__logo {
  display: flex;
  align-items: center;
  height: 8rem;
}
@media (max-width: 767px) {
  .p-header__logo {
    display: initial;
    height: 5rem;
  }
}
.p-header__items {
  display: flex;
  align-items: center;
}
.p-header__item {
  margin-right: 0.7rem;
}
@media (max-width: 767px) {
  .p-header__item {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .p-header a {
    display: flex;
    align-items: center;
    height: 5rem;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .p-header a img {
    height: 3.1rem;
    width: 2rem;
  }
}
.p-header__button {
  height: 4.5rem;
  display: flex;
  padding: 0.6rem 3rem;
}
@media (max-width: 767px) {
  .p-header__button {
    display: none;
  }
}
.p-header__button a {
  line-height: 2.2;
  font-size: 1.5rem;
}
.p-header__nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 3.3rem;
       column-gap: 3.3rem;
  margin-left: auto;
}
@media (max-width: 767px) {
  .p-header__nav {
    display: none;
  }
}
.p-header__nav ul {
  display: flex;
  -moz-column-gap: 3.3rem;
       column-gap: 3.3rem;
}
@media (max-width: 767px) {
  .p-header__nav ul {
    display: none;
  }
  .p-header__nav ul li {
    height: 8rem;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .p-header__nav ul li {
    align-items: center;
    display: flex;
    font-size: 1.8rem;
    height: 5.8rem;
    width: 30rem;
  }
}
@media (max-width: 767px) {
  .p-header__nav ul a {
    display: flex;
    align-items: center;
    height: 8rem;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .p-header__nav.active {
    position: absolute;
    display: block;
    top: 100%;
  }
}
@media (max-width: 767px) {
  .p-header__nav.active.active ul {
    display: block;
    align-items: center;
    -moz-column-gap: initial;
         column-gap: initial;
    width: 30rem;
  }
}
@media (max-width: 767px) {
  .p-header__nav.active.active li {
    font-size: 1.8rem;
    height: initial;
    width: 30rem;
  }
}
@media (max-width: 767px) {
  .p-header__nav-wrapper {
    position: fixed;
    top: 5rem;
    right: -110%;
    align-items: initial;
    transition: all 0.3s;
  }
}
@media (max-width: 767px) {
  .p-header__nav-wrapper.active {
    display: block;
    right: 0;
  }
}
.p-header__hb {
  display: none;
}
@media (max-width: 767px) {
  .p-header__hb {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .p-header__hb.active {
    right: 0;
    background-color: lightgreen;
  }
  .p-header__hb.active span:nth-child(1) {
    transform: rotate(45deg) translate(0.8rem, 0.8rem);
  }
  .p-header__hb.active span:nth-child(2) {
    background-color: transparent;
  }
  .p-header__hb.active span:nth-child(3) {
    transform: rotate(-45deg) translate(0.8rem, -0.8rem);
  }
}
@media (max-width: 767px) {
  .p-header__hb-line {
    transition: 0.3s;
    display: block;
    background-color: #ffffff;
    border-radius: 0.2rem;
    width: 3.2rem;
    height: 0;
    padding-block: 0.2rem;
  }
}
@media (max-width: 767px) {
  .p-header__hb-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 7.2rem;
    height: 5rem;
    background-color: rgb(203, 0, 0);
    row-gap: 0.7rem;
    cursor: pointer;
  }
}

.p-massage {
  padding: 6.8rem 0 6rem;
}
.p-massage__title h2 {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  line-height: 1.6666666667;
}
@media (max-width: 767px) {
  .p-massage__title h2 {
    line-height: 1.6;
    font-size: 2.5rem;
  }
}
.p-massage__contents {
  margin-top: 3rem;
}
.p-massage__contents p {
  text-align: center;
  color: #ffffff;
  line-height: 1.6666666667;
  font-size: 1.8rem;
}

.p-top-mv {
  position: relative;
}
.p-top-mv__title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}
.p-top-mv__titleInner {
  text-align: center;
  z-index: 99;
  color: #ffffff;
  font-size: 3.7037037037vw;
  line-height: 1.5;
  font-weight: bold;
}
@media (max-width: 767px) {
  .p-top-mv__titleInner {
    width: 30rem;
    font-size: 3rem;
    line-height: 1.6666666667;
  }
}
.p-top-mv__image::after {
  background-color: rgba(80, 80, 80, 0.502);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.p-reason {
  padding: 6.5rem 0 7rem;
}
@media (max-width: 767px) {
  .p-reason {
    padding: 5rem 0 3.9rem 0;
  }
}
.p-reason__contents {
  margin: 2.8rem 0 0 0;
}
.p-reason__items {
  display: grid;
  row-gap: 5rem;
}
@media (max-width: 767px) {
  .p-reason__items {
    row-gap: 3.9rem;
  }
}
.p-reason__item {
  display: flex;
  row-gap: 0.7rem;
}
@media (max-width: 767px) {
  .p-reason__item {
    display: initial;
    display: grid;
    row-gap: 3rem;
  }
}
.p-reason__image {
  width: 35rem;
}
@media (max-width: 767px) {
  .p-reason__image {
    width: 100%;
  }
}
.p-reason__comments {
  flex: 1;
}
.p-reason__title {
  position: relative;
  padding-bottom: 1.2rem;
  padding-left: 5rem;
}
@media (max-width: 767px) {
  .p-reason__title {
    padding-left: initial;
    padding-bottom: 1rem;
  }
}
.p-reason__title::before {
  content: "";
  width: 100%;
  height: 0.3rem;
  position: absolute;
  background-color: rgb(203, 0, 0);
  bottom: 0;
  right: 0;
}
.p-reason__title h3 {
  font-size: 2.2rem;
  font-weight: bold;
}
@media (max-width: 767px) {
  .p-reason__title h3 {
    font-size: 2rem;
    line-height: 1.5;
  }
}
.p-reason__comment {
  padding-left: 5rem;
  margin-top: 3.7rem;
}
@media (max-width: 767px) {
  .p-reason__comment {
    padding-left: initial;
    margin-top: 1.7rem;
  }
}
.p-reason__comment p {
  font-size: 1.8rem;
  line-height: 1.8333333333;
}
@media (max-width: 767px) {
  .p-reason__comment p {
    font-size: 1.6rem;
    line-height: 1.875;
  }
}

.p-use {
  padding: 5.4rem 0 9.1rem 0;
}
@media (max-width: 767px) {
  .p-use {
    padding: 4.6rem 0 0 0;
  }
}
.p-use__flow {
  position: relative;
  display: grid;
  row-gap: 5.8rem;
  margin: 5.3rem 0 0;
}
@media (max-width: 767px) {
  .p-use__flow {
    margin: 3.9rem 0 0;
    row-gap: 3.6rem;
  }
}
.p-use__flow-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-use__flow-detail-inner {
  display: flex;
}
@media (max-width: 767px) {
  .p-use__flow-detail-inner {
    display: initial;
  }
}
.p-use__flow-detail__en {
  display: flex;
  align-items: center;
  width: 15.4rem;
  font-size: 2.2rem;
  line-height: 1.5;
  margin-right: 3.8rem;
}
.p-use__flow-detail__circle {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(203, 0, 0);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 4.3rem;
}
@media (max-width: 767px) {
  .p-use__flow-detail__circle {
    margin-right: initial;
  }
}
.p-use__flow-detail__ja {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56.7rem;
  font-size: 1.8rem;
  line-height: 1.6666666667;
}
@media (max-width: 767px) {
  .p-use__flow-detail__ja {
    width: 28.7rem;
    margin-top: 0.9rem;
    font-size: 1.6rem;
    line-height: 1.875;
  }
}
:nth-child(1) .p-use__flow::before {
  left: 2.5%;
  top: 100%;
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  width: 2.5rem;
  height: 2.5rem;
  border-bottom: 0.3rem solid rgb(203, 0, 0);
  border-left: 0.3rem solid rgb(203, 0, 0);
  transform-origin: left top;
}
@media (max-width: 767px) {
  :nth-child(1) .p-use__flow::before {
    left: -1.2%;
  }
}
:nth-child(1) .p-use__flow::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  width: 0.3rem;
  height: 40.9rem;
  background-color: rgb(203, 0, 0);
  transform-origin: left top;
  left: 4.5%;
  top: 5%;
}
@media (max-width: 767px) {
  :nth-child(1) .p-use__flow::after {
    top: 10%;
    height: 67rem;
  }
}

.p-voice {
  padding: 6.5rem 0 6rem;
}
.p-voice__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 3.5rem;
       column-gap: 3.5rem;
  margin-top: 3.6rem;
}
@media (max-width: 767px) {
  .p-voice__wrapper {
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: initial;
         column-gap: initial;
  }
}
.p-voice__item {
  width: 100%;
}
.p-voice__image {
  width: 27rem;
}
@media (max-width: 767px) {
  .p-voice__image {
    width: initial;
  }
}
.p-voice__name {
  margin-top: 1.7rem;
  text-align: center;
}
.p-voice__name span {
  font-size: 2.2rem;
  font-weight: bold;
}
.p-voice__comment {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.6666666667;
  font-size: medium;
}
@media (max-width: 767px) {
  .p-voice__comment p {
    font-size: 1.8rem;
    line-height: 1.6666666667;
  }
}

.u-bg-red {
  background-color: rgb(203, 0, 0);
  color: #ffffff;
}

a {
  transition: all 0.3s;
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */
