@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// TOPへ戻るボタン
main {
  position: relative;
}

.c-button__wrapper {
  // position: relative;
  // position: sticky;
  position: absolute;
  width: 30rem;
  height: 100%;
  right: 0;
  top: 0;
  @include sp {
    width: 33.5rem;
    right: initial;
    left: 50%;
    transform: translateX(-50%);
  }
  .inner {
    position: sticky;
    width: 100%;
    height: initial;
    top: calc(100% - 15.9rem);
    // ↑余白部分も加算
    display: flex;
    flex-direction: column;
    row-gap: 3.1rem;
    @include sp {
      row-gap: 1.9rem;
      top: calc(100% - 14.7rem);
    }
  }
  // ページトップボタン
  .c-fix-area {
    position: relative;
    transition: all 0.5s;
    padding-left: 3.2rem;
    @include sp {
      justify-content: flex-end;
    }
    a {
      border-radius: 50%;
      width: 6.8rem;
      height: 6.8rem;
      display: grid;
      place-content: center;
      background-color: rgba(0, 0, 0, 0.502);
      img {
        width: 2.3rem;
      }
    }
  }
  // お問い合わせボタン
  .c-form-btn {
    position: relative;
    width: 30rem;
    height: 6rem;
    @include sp {
      width: initial;
    }
    a {
      line-height: calc(33 / 20);
      font-size: 2rem;
      // 親要素に対して、子要素の横幅100%（横幅）
      width: 100%;
      // 親要素に対して、子要素の横幅100%（縦幅）
      height: 100%;
      // 上下左右中央揃え
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
