@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// 赤いボタン→共通部分ボタンの色部分
.c-form-btn {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  a {
    line-height: calc(33 / 20);
    color: $color-white;
    font-size: 2rem;
  }
  .c-button {
    // お問い合わせボタン部分→サイズを変更する
    &--fixed {
    }
  }
}

// ハンバーガーボタン

// ページトップボタン
.c-fix-area {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.8rem;
  height: 6.8rem;
  transition: all 0.5s;
  border-radius: 50%;
  @include sp {
    width: 5rem;
    height: 5rem;
    right: 2rem;
  }
}
