@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// 赤いテキストと太字の表記
.c-text {
  color: $color-red;
  font-weight: bold;
}
// <h2>セクションタイトル
.c-sectionTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  @include sp {
    font-size: 2.5rem;
    line-height: calc(40 / 25);
  }
}

// ハンバーガーメニュー（共通部分）
// https://chatgpt.com/c/6860a96d-2690-8010-b4fb-2ac4186077a3
.c-header {
  z-index: 1000;
  width: 100%;
  height: 8rem;
  left: 0;
  top: 0;
  transition: all 0.3s;
  position: fixed;
  background-color: $color-white;
  @include sp {
    height: 5rem;
    padding-right: 0;
  }
  & .inner {
    @include sp {
      width: 100%;
    }
  }

    // ナビゲーション部分のお問い合わせボタン
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    width: 15rem;
    @include sp {
      display: none;
    }
    a {
      line-height: calc(33 / 15);
      font-size: 1.5rem;
      // 親要素に対して、子要素の横幅100%（横幅）
      width: 100%;
      // 親要素に対して、子要素の横幅100%（縦幅）
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  
  &__wrapper {
    display: flex;
    @include sp {
      padding-left: 2rem;
      height: 5rem;
      justify-content: space-between;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    height: 8rem;
    @include sp {
      display: initial;
      height: 5rem;
    }
  }
  &__items {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-right: 0.7rem;
    @include sp {
      display: flex;
      align-items: center;
    }
  }
  & a {
    @include sp {
      display: flex;
      align-items: center;
      height: 5rem;
      img {
        @include sp {
          height: 3.1rem;
          width: 2rem;
        }
      }
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    column-gap: 3.3rem;
    margin-left: auto;
    @include sp {
      position: fixed;
      top: 5rem;
      transition: all 0.3s;
    }
    ul {
      display: flex;
      column-gap: 3.3rem;
      @include sp {
        display: none;
        align-items: center;
        width: 30rem;
      }
      li {
        @include sp {
          align-items: center;
          display: flex;
          font-size: 1.8rem;
          height: 5.8rem;
          width: 30rem;
        }
      }
      a {
        display: flex;
        align-items: center;
        height: 8rem;
        cursor: pointer;
        position: relative;
        transition: 0.3s all;
        // ホバーした時に全部表示する
        &:hover::before {
          clip-path: inset(0 0 0 0);
          // 全表示状態
          @include sp {
            clip-path: initial;
          }
        }
        // ホバー
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 0.1rem;
          background-color: $color-black;
          bottom: 2.5rem;
          // 一番左寄せ
          left: 0;
          clip-path: inset(0 100% 0 0);
          // 上・右・下・左の順番
          // 今回は右から左に線を消す
          transition: 0.3s all;
        }
        @include sp {
          padding-left: 2rem;
        }
      }
    }

    // ハンバーガーボタンがクリックされたとき
    &.active {
      ul {
        @include sp {
          display: block;
          align-items: center;
          column-gap: initial;
          width: 30rem;
        }
      }
      li {
        @include sp {
          font-size: 1.8rem;
          height: initial;
          width: 30rem;
        }
        &:hover {
          background-color: rgb(0, 0, 0);
        }
      }
      a {
        width: 100%;
      }
    }
    &-wrapper {
      @include sp {
        position: fixed;
        top: 5rem;
        right: -110%; // ← 初期状態（隠す）
        align-items: initial;
        transition: all 0.3s;
      }
      &.active {
        @include sp {
          right: 0; // ← 表示状態
          background-color: $color-red;
          color: $color-white;
        }
      }
    }
  }
}
