@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// 赤いテキストと太字の表記
.c-text {
  color: $color-red;
  font-weight: bold;
}
// <h2>セクションタイトル
.c-sectionTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  @include sp {
    font-size: 2.5rem;
    line-height: calc(40 / 25);
  }
}

// ハンバーガーメニュー（共通部分）
// https://chatgpt.com/c/6860a96d-2690-8010-b4fb-2ac4186077a3
.c-header {
  z-index: 1000;
  width: 100%;
  height: 8rem;
  left: 0;
  top: 0;
  transition: all 0.3s;
  position: fixed;
  background-color: $color-white;
  @include sp {
    height: 5rem;
    padding-right: 0;
  }
  & .inner {
    @include sp {
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    @include sp {
      padding-left: 2rem;
      height: 5rem;
      justify-content: space-between;
    }
  }
  & a {
    @include sp {
      display: flex;
      align-items: center;
      height: 5rem;
      img {
        @include sp {
          height: 3.1rem;
          width: 2rem;
        }
      }
    }
  }

  &__nav-wrapper {
    @include sp {
      position: fixed;
      top: 5rem;
      right: -110%;
      transition: all 0.3s;
    }

    &.active {
      @include sp {
        right: 0;
        background-color: $color-red;
        color: $color-white;
      }
    }
  }

  &__nav {
    @include sp {
      position: fixed;
      top: 5rem;
      transition: all 0.3s;
    }

    &.active {
      ul {
        @include sp {
          display: block;
          align-items: center;
          width: 30rem;
        }
      }

      li {
        @include sp {
          font-size: 1.8rem;
          width: 30rem;
        }

        &:hover {
          background-color: black;
        }
      }

      a {
        width: 100%;
      }
    }

    ul {
      @include sp {
        display: none;
      }
    }

    li {
      @include sp {
        display: flex;
        align-items: center;
        height: 5.8rem;
      }
    }

    a {
      display: flex;
      align-items: center;
      height: 8rem;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 0.1rem;
        background-color: $color-black;
        bottom: 2.5rem;
        left: 0;
        clip-path: inset(0 100% 0 0);
        transition: 0.3s all;
      }

      &:hover::before {
        clip-path: inset(0 0 0 0);
      }

      @include sp {
        padding-left: 2rem;
      }
    }
  }
}
