@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// 赤いテキストと太字の表記
.c-text {
  color: $color-red;
  font-weight: bold;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  @include sp {
    font-size: 2.5rem;
    line-height: calc(40 / 25);
  }
}

// ハンバーガーメニュー（共通部分）
// https://chatgpt.com/c/6860a96d-2690-8010-b4fb-2ac4186077a3
.c-hamburger {
  display: flex;
  justify-content: space-between;

  &__hb-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 7.2rem;
    height: 5rem;
    background-color: $color-red;
    row-gap: 0.7rem;
    cursor: pointer;

    span {
      transition: 0.3s;
      display: block;
      background-color: $color-white;
      border-radius: 0.2rem;
      width: 3.2rem;
      height: 0;
      padding-block: 0.2rem;
    }
  }

  // ハンバーガーボタンがクリックされたとき
  // ハンバーガーopen時の動作（三→×）
  &.active {
    right: 0;
    span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(0.8rem, 0.8rem);
      }
      &:nth-child(2) {
        background-color: transparent;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(0.8rem, -0.8rem);
      }
    }
  }
}
