@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.c-mv {
  position: relative;
  &__title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
  }
  &__titleInner {
    text-align: center;
    z-index: 99;
    color: $color-white;
    font-size: 4rem;
    line-height: calc(60 / 40);
    font-weight: bold;
    @include sp {
      width: 30rem;
      font-size: 3rem;
      line-height: calc(50 / 30);
    }
  }
  // 背景画像に影を付ける
  &__image {
    &::after {
      background-color: rgba(80, 80, 80, 0.502);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      mix-blend-mode: multiply;
    }
  }
}
