.c-pager {
  margin-top: 7rem;
  &__lists {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    height: 5rem;
    width: 5rem;
    &:hover {
      transition: 0.3s all;
      background-color: #000;
      color: #fff;
      cursor: pointer;
    }
    // aタグ部分をホバーした時に色が変わらないようにする
    a:hover {
      pointer-events: none;
    }
  }
}
