@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// ページ送り部分
.c-pager {
  margin-top: 7rem;
  &__lists {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #000;
    margin: -0.1rem -0.2rem 0rem 0rem;
    a {
      transition: 0.3s all;
      &:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
        opacity: 1;
        // ↓最初の要素以外を透過させる
        // &:not(:first-child) {
        //   opacity: 0.7;
        // }
      }
    }
    a,
    span {
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 5rem;
      width: 5rem;
    }
    span {
      background-color: #000;
      color: #fff;
      cursor: initial;
    }
  }
  &__ellipsis {
    margin-inline: 1rem;
  }
}

// 前の記事・次の記事部分
.c-paging {
  display: flex;
  column-gap: 20rem;
  li {
    width: 26rem;
    width: 34rem;
  }
  .c-paging-item {
    display: flex;
    flex-direction: column;
    column-gap: 2.2rem;

    &__heading {
      display: flex;
      align-items: center;
      width: 100%;
      height: 3.7rem;
      background-color: #000;
      color: $color-white;

      p,
      h4 {
        font-size: 1.7rem;
        line-height: calc(30 / 17);
      }
    }
    &__content {
      display: flex;
      margin-top: 1.6rem;
      column-gap: 1.6rem;
      @include sp {
        margin-top: 1.3rem;
      }
    }
    &__image {
      width: 9.8rem;
      @include sp {
        display: none;
      }
      img {
        aspect-ratio: 98 / 68;
        object-fit: cover;
      }
    }
    &__text {
      flex: 1;
      font-size: 1.6rem;
      line-height: calc(25 / 16);
      font-weight: bold;
    }
  }
  // 以下に
  &--blog {
    justify-content: space-between;
    width: 100%;
    column-gap: 0;
    @include sp {
      column-gap: 2.2rem;
    }
    li {
      width: 26rem;
    }
  }
}

.c-page-heading {
  background-color: #000;
  color: $color-white;
}
