@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// ページ送り部分
.c-pager {
  margin-top: 7rem;
  &__lists {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    height: 5rem;
    width: 5rem;
    &:hover {
      transition: 0.3s all;
      background-color: #000;
      color: #fff;
      cursor: pointer;
    }
  }
}

// 前の記事・次の記事部分
.c-paging {
  display: flex;
  column-gap: 20rem;
  li {
    width: 26rem;
    width: 34rem;
  }
  .c-paging-item {
    display: flex;
    flex-direction: column;
    column-gap: 2.2rem;

    &__heading {
      display: flex;
      align-items: center;
      width: 100%;
      height: 3.7rem;
      background-color: #000;
      color: $color-white;
      @include sp {
        // width: 15.6rem;
        justify-content: space-between;
      }

      p {
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        padding-left: 2rem;
      }
    }
    &__content {
      display: flex;
      align-items: center;
      margin-top: 1.6rem;
      column-gap: 1.6rem;
      // height: 6.8rem;
      // ↑高さは不要

      // 画像の時のセット
    }
    &__image {
      width: 9.8rem;
      @include sp {
        display: none;
      }
      img {
        aspect-ratio: 98 / 68;
        object-fit: cover;
      }
    }
    &__text {
      flex: 1;
    }
  }
  // 以下に
  &--blog {
    justify-content: space-between;
    width: 100%;
    column-gap: 0;
    @include sp {
      column-gap: 2.2rem;
    }
    li {
      width: 26rem;
    }
  }
}

.c-page-heading {
  background-color: #000;
  color: $color-white;
}
