@use "../../foundation/mixins" as *; //spやpcでの表示サイズを読み込む
@use "../../foundation/variables" as *; //min関数を読み込む

// 背景色は赤、文字は白
.u-bg-red {
  background-color: $color-red;
  color: $color-white;
}

// aタグホバー時の動作
a {
  transition: 0.3s opacity;
  cursor: pointer;
}
a:hover {
  // opacity: 0.75;
  opacity: 0.7;
}

// 横並びにした後、上下左右中央揃いにする
.u-df-tbc {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 黒い背景に白い文字のセクションタイトル
.u-bg-black {
  background-color: $color-black;
  color: $color-white;
}
