@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// パンくずの矢印部分
.p-header__breadcrumb {
  background-color: rgb(232, 232, 232);
  height: 5rem;
  @include sp {
    // height: 100%;
    height: 5.9rem;
  }
  ol {
    display: flex;
    align-items: center;
    height: 100%;
    column-gap: 5rem;
    li {
      position: relative;
      padding-right: 0.3rem;
      // height: 100%;
      &:last-of-type {
        flex-basis: 100%; /* 改行して次の行へ */
        margin-top: 0;
      }
      &:not(:first-of-type)::before {
        content: ">";
        color: $color-black;
        position: absolute;
        left: -3rem;
        top: 50%;
        transform: translateY(-50%);
      }
      a {
        display: inline-block;
        font-size: 1.6rem;
        line-height: calc(33 / 16);
        height: 100%;
      }
      span {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: calc(33 / 16);
        height: 100%;
      }
    }
  }

  @include sp {
    // height: 3.6rem;
    height: 100%;
  }

  ol {
    position: relative;
    display: flex;
    align-items: center;
    height: 5rem;
    column-gap: 5rem;
    @include sp {
      height: 3.5rem;
    }
  }
  li {
    &:first-of-type {
      // 矢印「>」部分
      &::before {
        content: ">";
        position: absolute;
        left: 8%;
        @include sp {
          left: 20%;
        }
      }
    }
    &:nth-last-of-type(2) {
      // 矢印「>」部分
      &::before {
        content: ">";
        position: absolute;
        left: 19%;
        @include sp {
          left: 52%;
        }
      }
    }
    a {
      .break {
        display: inline;
        @include sp {
          display: block;
        }
      }
    }
  }
}

.p-blog-details {
  display: flex;
  justify-content: space-between;
  // padding-block: 7rem;
  padding: 7rem 0 18.5rem 0;
  @include sp {
    display: block;
    padding-block: 5rem;
    // padding-block: 7.3rem;
  }
  // ↓0924修正中
  &__article {
    padding-bottom: 12rem;
    width: 60rem;

    @include sp {
      width: initial;
      display: block;
      padding-bottom: initial;
    }
  }
  // FV画像部分
  &__mv-image {
    position: relative;
    &.guitar {
      &::before {
        content: "ギター";
        z-index: 1; // ラベルを画像の上に表示
      }
    }

    &::before {
      background-color: rgb(203, 0, 0);
      color: #ffffff;
      width: 8rem;
      height: 3rem;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: calc(25 / 15);
      // font-weight: bold;
      z-index: 1; // ラベルを画像の上に表示
      // 集客方法（attracting-customers）・SNS（sns）
      @include sp {
        width: 9rem;
      }
    }
    img {
      object-fit: cover;
      aspect-ratio: 12 / 7;
      @include sp {
        aspect-ratio: 67 / 40;
      }
    }
  }

  // SNSリンクセクション部分
  &-habit {
    // 件名部分
    &__title {
      margin-top: 4.5rem;
      @include sp {
        margin-top: 2.6rem;
      }
      & h1 {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
        font-weight: bold;
        @include sp {
          font-size: 2rem;
          line-height: calc(30 / 20);
        }
      }
    }
    &__date {
      margin-top: 0.5rem;
      @include sp {
        margin-top: 1rem;
      }
      time {
        font-size: 1.7rem;
        line-height: calc(30 / 17);
      }
    }
    // ulタグ部分
    &__sns {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2.1rem;
      column-gap: 0.4rem;
      @include sp {
        flex-wrap: nowrap;
        margin-top: 2.1rem;
      }
      // liタグ部分
      &-link {
        // flex: 1;
        width: 10.5rem;
        @include sp {
          flex: 1;
          // ↑均等に要素が並ぶ
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 0.7rem;
          height: 4rem;
          // padding: 0.8rem 1rem;
          span {
            font-size: 1.2rem;
            // line-height: 1.4;
            color: #ffffff;
            column-gap: 1.35rem;
            @include sp {
              display: none;
            }
          }
        }

        &.fb {
          background-color: rgba(66, 88, 147, 1);
        }
        &.x {
          background-color: rgba(74, 159, 235, 1);
          width: 8.8rem;
        }
        &.hatena {
          background-color: rgba(78, 172, 213, 1);
          width: 9.3rem;
        }
        &.line {
          background-color: rgba(82, 181, 52, 1);
          width: 8.1rem;
        }
        &.pocket {
          background-color: rgba(220, 79, 90, 1);
          width: 9.1rem;
        }
      }
    }
    &__image {
      @include sp {
        // width: 33%;
        width: calc(20 / 65) * 100%;
        height: 50%;
      }
    }

    &__desc {
      margin-top: 1.5rem;
      @include sp {
        margin-top: 1.8rem;
      }
      &.first {
        margin-top: 4.8rem;
        @include sp {
          margin-top: 2.3rem;
        }
      }
      p {
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        @include sp {
          font-size: 1.6rem;
          line-height: calc(30 / 16);
        }
      }
      .sp-none {
        @include sp {
          display: none;
        }
      }
      &.pc-none {
        display: none;
        @include sp {
          display: initial;
        }
        p {
          @include sp {
            margin-top: 2rem;
          }
        }
      }
    }
    &__section-title2 {
      margin-top: 3.3rem;
      @include sp {
        margin-top: 3.9rem;
      }
      h2 {
        font-size: 2rem;
        line-height: calc(40 / 20);
        font-weight: bold;
        @include sp {
          line-height: calc(30 / 20);
        }
      }
    }
    &-img__half {
      width: 50%;
      margin-top: 1.7rem;
      @include sp {
        width: 100%;
        margin-top: 4.1rem;
      }
      & img {
        object-fit: cover;
        aspect-ratio: 6 / 4;
        @include sp {
          aspect-ratio: 67 / 40;
        }
      }
    }
    &__list {
      margin-top: 2.8rem;
      @include sp {
        margin-top: 2.6rem;
      }
      li {
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        @include sp {
          font-size: 1.6rem;
          line-height: calc(30 / 16);
        }
      }
    }
    &__under-line {
      border-bottom: 0.1rem solid #000;
      margin-top: 4rem;
      @include sp {
        margin-top: 3.85rem;
      }
    }
    &__section-title3 {
      margin-top: 4.25rem;
      padding-left: 0.95rem;
      position: relative;
      @include sp {
        margin-top: 4.8rem;
      }
      h3 {
        font-size: 2rem;
        line-height: calc(40 / 20);
        font-weight: bold;
        @include sp {
          line-height: calc(30 / 20);
        }
        &::before {
          position: absolute;
          content: "";
          // border: 0.2rem solid $color-black;
          border-left: 0.3rem solid rgb(0, 0, 0);
          height: 2rem;
          top: 20%;
          left: 0;
          @include sp {
            height: 5rem;
            top: 5%;
            left: -0.7%;
          }
        }
      }
    }
    &__note-comment {
      margin-top: 1.7rem;
      background-color: rgba(232, 232, 232, 1);
      display: flex;
      padding: 1.8rem 3rem 1rem 6.7rem;
      position: relative;
      @include sp {
        margin-top: 2rem;
        padding: initial;
      }
      span {
        position: absolute;
        top: 2rem;
        left: 3rem;
      }
      p {
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        @include sp {
          font-size: 1.6rem;
          line-height: calc(30 / 16);
          padding: 1.7rem 2rem 1.1rem 7rem;
        }
      }
    }
    &__text-link {
      margin-top: 2.8rem;
      position: relative;
      a {
        color: $color-red;
        font-size: 2rem;
        line-height: calc(33 / 20);
        font-weight: bold;
        text-decoration: underline;
        &:hover {
          color: $color-red;
          opacity: 0.7;
        }
      }
    }
  }
  &-main__articles {
    margin-top: 5.5rem;
    column-gap: 8rem;
    display: flex;
    align-items: center;
    @include sp {
      margin-top: 4.5rem;
    }
    // ページ部分
    .p-paging-item__heading {
      // 前のページ
      &-prev {
        padding-left: 2rem;
      }
      // 前のページ
      &-next {
        padding-left: 15rem;
        @include sp {
          padding-left: 4.6rem;
        }
      }
    }
  }
  &-main__article-item-01 {
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    // width: 40rem;
    width: 100%;
    height: 3.7rem;
    p {
      font-size: 1.7rem;
      line-height: calc(30 / 17);
    }
  }
  &-main__article-item-02 {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    column-gap: 1.6rem;
    // height: 6.8rem;
    // ↑高さは不要

    // 画像の時のセット
    .item02-image {
      width: 9.8rem;
      img {
        aspect-ratio: 98 / 68;
        object-fit: cover;
      }
    }
    .item02-text {
      flex: 1;
    }
  }
  // 関連記事の子要素部分（blog_details部分のみ変更を加える部分）
  .page-relation {
    margin-top: 9.2rem;
    row-gap: 3rem;
    display: grid;
    @include sp {
      margin-top: 6.7rem;
      display: flex;
      flex-direction: column;
    }
    &__items {
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
      @include sp {
        margin-top: 2rem;
        row-gap: 2rem;
      }
    }

    &__title {
      display: flex;
      align-items: center;
      padding-inline-start: 3rem;
      width: 60rem;
      height: 5rem;
      @include sp {
        // width: 33.5rem;
        width: 100%;
        @include sp {
          padding-inline-start: initial;
        }
        &__inner {
          display: flex;
          flex-direction: column;
        }
      }
      h4 {
        @include sp {
          text-align: center;
          width: 100%;
        }
      }
    }
    &__item {
      display: flex;
      column-gap: 3rem;
      @include sp {
        column-gap: 2rem;
        // flex-direction: column;
      }
    }

    &__image {
      position: relative;
      flex-shrink: initial;
      // justify-content: initial;
      width: 20rem;
      @include sp {
        width: 16rem;
      }
      &::before {
        content: "ギター";
        background-color: rgb(203, 0, 0);
        color: #ffffff;
        width: 8rem;
        height: 3rem;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        line-height: calc(25 / 15);
        font-weight: bold;
        @include sp {
          width: 9rem;
        }
      }

      img {
        object-fit: cover;
        aspect-ratio: 10 / 7;
        @include sp {
          aspect-ratio: 16 / 11;
        }
      }
    }
    &__title-inner {
      @include sp {
        width: 15.5rem;
        margin-top: -0.7rem;
      }
      p {
        font-weight: bold;
        font-size: 2rem;
        line-height: calc(25 / 20);
        @include sp {
          font-size: 1.7rem;
          line-height: calc(28 / 17);
          margin-bottom: 0.4rem;
        }
      }
      & .p-blog__date {
        text-align: initial;
        time {
          display: inline-block;
          padding-left: 0.4rem;
          font-size: 1.7rem;
          line-height: calc(30 / 17);
          @include sp {
            padding-left: initial;
            margin-top: 0.4rem;
          }
        }
      }
    }
  }

  // ↓0924修正中
  &__aside {
    // padding: 7rem 0 18.5rem 0;
    width: 25rem;
    // padding-bottom: 13rem;
    @include sp {
      // padding: 3rem 0 20rem 0;
      width: 100%;
      display: block;
      margin-top: 3rem;
      padding-bottom: 15rem;
      // padding-bottom: 12.6rem;
    }
  }
  &__side-inner {
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    @include sp {
      row-gap: 2.9rem;
    }
  }
}

// aside-header部分
.aside-header {
  width: 25rem;
  height: 5rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  @include sp {
    width: 100%;
  }
}

// asideタグ部分
.mail__banner {
  width: 25rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid $color-black;
  @include sp {
    width: 100%;
    height: 26.8rem;
  }
  p {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(232, 232, 232, 1);
    width: 22rem;
    height: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: calc(33 / 18);
    @include sp {
      width: 29.5rem;
      height: 22.8rem;
    }
  }
}

// 検索部分
.blog__search {
  width: 100%;
  input {
    background-color: rgba(232, 232, 232, 1);
    width: 18rem;
    height: 4rem;
    padding-inline: 1rem;
    color: gray;
    @include sp {
      width: 29.5rem;
      height: 5.4rem;
    }
  }
  form {
    display: flex;
    padding: 1.5rem;
    border: 0.1rem solid $color-black;
    @include sp {
      padding: 2rem;
    }
  }
  img {
    aspect-ratio: 16/9;
    background-color: $color-black;
  }
  .search-btn {
    cursor: pointer;
    // height: 100%;
    // width: 100%;
    transition: 0.3s all;
    &:hover {
      opacity: 0.7;
      pointer-events: visible;
    }
    span {
      background-color: $color-black;
      height: 4rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @include sp {
        width: 5.4rem;
        height: 5.4rem;
      }
    }
  }
}

// おすすめ記事
.news__items {
  .news__item {
    display: flex;
    // margin-block: 1.5rem;
    margin-top: 1.5rem;
    column-gap: 1.5rem;
    @include sp {
      column-gap: 2rem;
      margin-top: 2rem;
    }
    .image {
      width: 9.5rem;
      height: 7.5rem;
      background-color: rgba(232, 232, 232, 1);
      display: flex;
      aspect-ratio: 95/75;
      @include sp {
        width: 16rem;
        height: 11rem;
      }
    }
    .text {
      @include sp {
        width: 15.5rem;
        margin-top: 0.5rem;
      }
    }
    p {
      font-size: 1.7rem;
      line-height: calc(28 / 17);
    }
  }
}

// カテゴリー
.category {
  &__item {
    height: 4.7rem;
    border-bottom: 0.05rem solid $color-black;
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}
