@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-blog-details {
  &__article {
    padding: 7rem 0 18rem 0;
  }
  &-habit {
    // 件名部分
    &__title {
      margin-top: 4.5rem;
      & h1 {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
        font-weight: bold;
      }
    }
    &__sns {
      display: flex;
      background-color: yellow;
    }
  }
}
.test {
  display: flex;
}
