@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-blog-details {
  &__article {
    padding: 7rem 0 18rem 0;
  }
  &-habit {
    // 件名部分
    &__title {
      margin-top: 4.5rem;
      & h1 {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
        font-weight: bold;
      }
    }
    &__sns {
      display: flex;
      margin-top: 2.1rem;
      column-gap: 0.4rem;
      width: 100%;
      & li {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // padding: 1rem 1.7rem;
        // height: 4rem;
        // font-size: 1rem;
        // line-height: 3.3;
        // color: #ffffff;
        &.fb {
          background-color: rgba(66, 88, 147, 1);
        }
        &.x {
          background-color: rgba(74, 159, 235, 1);
        }
        &.hatena {
          background-color: rgba(78, 172, 213, 1);
        }
        &.line {
          background-color: rgba(82, 181, 52, 1);
        }
        &.pocket {
          background-color: rgba(220, 79, 90, 1);
        }
      }
      & a {
        display: flex;
        // display: inline-block;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.7rem;
        font-size: 1rem;
        line-height: 3.3;
        color: #ffffff;
        column-gap: 1.35rem;
        width: 10.5rem;
        height: 4rem;
      }
    }
    &__desc {
      margin-top: 4.8rem;
    }
  }
}
.test {
  display: flex;
}
