@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// MV部分
.p-blog-mv {
  position: relative;
  // 背景画像に影を付ける
  &__wrapper {
    &::after {
      background-color: rgba(80, 80, 80, 0.502);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
  // タイトルの配置
  &__title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
  }
  // タイトル文字部分
  &__titleInner {
    text-align: center;
    z-index: 99;
    color: $color-white;
    font-size: vw(25);
    line-height: calc(60 / 25);
    font-weight: bold;
    @include sp {
      font-size: 2.5rem;
      line-height: calc(60 / 25);
    }
  }
  &__image {
    &::after {
      background-color: rgba(80, 80, 80, 0.502);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}

.p-blog-list {
  padding: 6.5rem 0 21.2rem 0;
  @include sp {
    padding: 4.5rem 0 19.5rem 0;
  }
  &__title {
    h2 {
      font-size: 2.5rem;
      line-height: calc(38 / 25);
      @include sp {
        line-height: calc(40 / 25);
      }
    }
  }
  &__items {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 7rem;
    @include sp {
      row-gap: 4rem;
    }
  }
  &__item {
    display: flex;
    column-gap: 5rem;
    @include sp {
      column-gap: 0;
      flex-direction: column;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    position: relative;
    width: 26rem; // 画像の幅を固定
    // height: 18.4rem; →heightは使用しない
    flex-shrink: 0; // ☆画像部分が縮まないようにする
    @include sp {
      width: 100%;
      height: 20rem;
    }
    &::before {
      background-color: rgb(203, 0, 0);
      color: #ffffff;
      width: 8rem;
      height: 3rem;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      line-height: calc(25 / 15);
      // font-weight: bold;
      z-index: 1; // ラベルを画像の上に表示
      @include sp {
        width: 9rem;
      }
    }

    picture {
      width: 100%;
      height: 100%;
    }

    img {
      // width: 100%;
      // height: 100%;
      object-fit: cover; // ☆画像のアスペクト比を保ちながら指定サイズに収める
      aspect-ratio: 65 / 46;
    }

    // 集客方法（attracting-customers）・SNS（sns）
    &.guitar {
      &::before {
        content: "ギター";
        z-index: 1; // ラベルを画像の上に表示
      }
    }
    // 集客方法（attracting-customers）
    &.attracting-customers {
      &::before {
        content: "集客方法";
        z-index: 1; // ラベルを画像の上に表示
      }
    }
    // SNS（sns）
    &.sns {
      &::before {
        content: "SNS";
        z-index: 1; // ラベルを画像の上に表示
      }
    }
  }
  &__text-inner {
    width: 100%;
    h3 {
      font-size: 2rem;
      line-height: calc(25 / 20);
      font-weight: bold;
      @include sp {
        margin: 3rem 0 0.6rem;
        margin: 3rem 0 1.4rem;
      }
    }
    time {
      display: inline-block;
      line-height: calc(30 / 17);
      font-size: 1.7rem;
      @include sp {
        text-align: right;
      }
    }
    p {
      line-height: calc(30 / 18);
      font-size: 1.8rem;
      width: 57rem;
      margin-top: 0.7rem;
      @include sp {
        width: initial;
        // margin-top: 0.8rem;
        line-height: calc(30 / 16);
        font-size: 1.6rem;
      }
    }
  }
  &__date {
    @include sp {
      text-align: right;
    }
  }
}

// ページボタンの位置修正
.c-pager {
  @include sp {
    margin-top: initial;
  }
}
.p-pager {
  @include sp {
    margin-top: 6.6rem;
  }
}
