@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// 追加
.p-contact-form {
  &__mv {
    position: relative;
  }
  &__title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
  }
  &__titleInner {
    text-align: center;
    z-index: 99;
    color: $color-white;
    font-size: vw(25);
    line-height: calc(60 / 25);
    font-weight: bold;
    @include sp {
      width: 30rem;
      font-size: 2.5rem;
      line-height: calc(60 / 25);
    }
  }
  // 背景画像に影を付ける
  &__image {
    &::after {
      // background-color: rgba(80, 80, 80, 0.502);
      background-color: rgba(80, 80, 80, 0.4863);
      mix-blend-mode: multiply;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}
