@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-contact_send {
  position: relative;
  &__title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
  }
  &__titleInner {
    text-align: center;
    z-index: 99;
    color: $color-white;
    font-size: vw(25);
    line-height: calc(60 / 25);
    font-weight: bold;
    @include sp {
      width: 30rem;
      font-size: 2.5rem;
    }
  }
  // 背景画像に影を付ける
  &__image {
    &::after {
      background-color: rgba(80, 80, 80, 0.502);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}

.p-sended {
  padding: 6.7rem 0 9rem 0;
  @include sp {
    padding: 4.7rem 0 5rem 0;
  }
  &__message {
    text-align: center;
    margin-bottom: 4rem;
    @include sp {
      text-align: left;
      margin-bottom: 4.2rem;
    }
    p {
      font-size: 1.8rem;
      line-height: calc(30 / 18);

      @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        font-weight: 400;
      }
    }
  }
  &__return {
    margin-top: 4rem;
    text-align: center;
    width: 100%;
    @include sp {
      margin-top: 1rem;
    }
    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      width: 25rem;
      margin: 0 auto;
      @include sp {
        width: initial;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        line-height: calc(30 / 25);
        font-weight: bold;
        @include sp {
          font-size: 2rem;
          line-height: calc(26 / 20);
        }
      }
    }
  }
}
