.p-contact-send {
  padding: 6.7rem 0 9rem 0;
}
.sended {
  &__message {
    text-align: center;
  }
  &__return {
    margin-top: 4rem;
    text-align: center;
    width: 100%;
    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      width: 25rem;
      margin: 0 auto;
      // 親要素の幅が100%に対して左右中央寄せができる
      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
