@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-contact-form {
  padding: 6.4rem 0 10rem 0;
  @include sp {
    padding: 4.7rem 0 11rem 0;
  }

  // 説明部分
  &__description {
    p {
      text-align: center;
      line-height: calc(30 / 18);
      font-size: 1.8rem;
      @include sp {
        text-align: initial;
        line-height: calc(30 / 16);
        font-size: 1.6rem;
      }
    }
  }
  // お問い合わせフォーム
  form {
    display: grid;
    row-gap: 3rem;
    margin-top: 7rem;
    @include sp {
      margin-top: 3.2rem;
      margin-top: 2.8rem;
      row-gap: 0.8rem;
    }
  }
  dl {
    display: flex;
    column-gap: 3rem;
    @include sp {
      display: initial;
    }
    &.purpose {
      // margin-top: -1.1rem;
      @include sp {
        margin-top: 1rem;
      }
    }
  }

  dt {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 14rem;
    // https://qiita.com/ikue-san/items/93d4e6dc857b24571393
    font-size: 2rem;
    @include sp {
      display: initial;
      font-size: 1.6rem;
      line-height: calc(33 / 16);
    }

    label {
      display: inline-block;
      vertical-align: top;
      line-height: 1.65;
      height: 4rem;
      @include sp {
        font-size: 1.6rem;
        line-height: calc(33 / 16);
      }
    }
    // SPサイトでの目的と(複数選択可)の間のスペース調整
    span {
      display: inline-block;
      @include sp {
        margin-left: 1rem;
      }
    }
  }
  .text-mt {
    margin-top: 3rem;
    display: inline-block;
    @include sp {
      margin-top: initial;
    }
  }

  dd {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    @include sp {
      row-gap: 1rem;
    }
    ::placeholder {
      color: rgba(178, 178, 178, 1);
    }

    // チェックボックス（目的部分）親要素
    &.check-box__wrapper {
      display: flex;
    }
    // 入力フォーム部分
    .form-control {
      background-color: #ffffff;
      width: 71rem;
      height: 4rem;
      padding-inline: 2rem;
      font-size: 1.5rem;
      border: 0.1rem solid #000;
      color: rgba(178, 178, 178, 1);
      color: #000000;

      @include sp {
        width: 100%;
      }
    }
  }
  // （親要素）チェックボックス
  .check-box__wrapper {
    input[type="checkbox"] {
      // inputタグのチェックボックスを非表示にする
      position: relative;
      display: none;
      appearance: revert;
      // 0615 input隣のspanタグという指定
      & + span {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        cursor: pointer;
        padding-left: 4rem;
        @include sp {
          padding-left: 3rem;
          font-size: 1.6rem;
          line-height: calc(30 / 16);
        }
        // チェックボックス部分
        &::before {
          content: "";
          border: 0.1rem solid #000;
          background-color: $color-white;
          height: 2rem;
          width: 2rem;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
        // チェックが入る前表示
        &::after {
          content: "";
          border-right: 3px solid #000000;
          border-bottom: 3px solid #000000;
          transform: rotate(45deg);
          height: 1.6rem;
          width: 0.7rem;
          position: absolute;
          top: 0.4rem;
          left: 0.7rem;
          opacity: 0;
        }
      }
      // チェックが入った時の表示
      &:checked {
        & + span {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
  textarea {
    display: inline-block;
    height: 30rem;
    width: 71rem;
    padding-inline: 0;
    padding: 1rem;
    background-color: #ffffff;
    scrollbar-width: none;
    border: 0.1rem solid #000;
    color: rgb(178, 178, 178);
    color: #000000;
    @include sp {
      width: 100%;
      height: 19rem;
    }
  }
  .form-btn {
    margin-top: 1rem;
    @include sp {
      // margin-top: 4.1rem;
      margin-top: 3.8rem;
      width: 100%;
    }
    &-inner {
      width: 25rem;
      height: 5rem;
      font-size: 2.5rem;
      line-height: calc(33 / 25);
      font-weight: bold;
      @include sp {
        width: 100%;
      }
      button {
        width: 100%;
        height: 100%;
        font-size: 2.5rem;
        line-height: calc(33 / 25);
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s;
        border: 0.1rem solid $color-red;
        &:hover {
          background-color: $color-white;
          color: $color-red;
          opacity: 1;
        }
      }
    }
  }
}
