@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

.p-error-mv {
  position: relative;
  &__title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
  }

  &__image {
    height: 100%;
  }
  &__titleInner {
    text-align: center;
    z-index: 99;
    color: $color-white;
    font-size: vw(25);
    line-height: calc(60 / 25);
    font-weight: bold;
    @include sp {
      width: 30rem;
      font-size: 2.5rem;
      line-height: calc(60 / 25);
    }
  }
  // 背景画像に影を付ける
  &__image {
    &::after {
      background-color: rgba(80, 80, 80, 0.502);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}

.p-error {
  padding: 6.8rem 0 9rem 0;
  @include sp {
    padding: 4.7rem 0 5rem 0;
    // padding: 4rem 0 5rem 0;
  }
}
.error {
  &__message {
    text-align: center;
    @include sp {
      text-align: left;
    }
    h2 {
      font-size: 1.8rem;
      line-height: calc(30 / 18);
      font-weight: 400;
      @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
      }
    }
  }
  &__return {
    margin-top: 4rem;
    text-align: center;
    width: 100%;
    @include sp {
      margin-top: 1rem;
    }
    // &-inner {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   height: 5rem;
    //   width: 25rem;
    //   margin: 0 auto;
    //   background-color: rgb(203, 0, 0);
    //   color: #ffffff;
    //   transition: all 0.3s;
    //   &:hover {
    //     background-color: initial;
    //   }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(203, 0, 0);
      border: 0.1rem solid rgb(203, 0, 0);
      color: #ffffff;
      font-size: 2.5rem;
      font-weight: bold;
      height: 5rem;
      line-height: calc(33 / 25);
      margin: 0 auto;
      transition: all 0.3s;
      width: 25rem;
      &:hover {
        background-color: #ffffff;
        color: rgb(203, 0, 0);
        opacity: 1;
      }
      @include sp {
        width: initial;
        font-size: 2rem;
        line-height: calc(26 / 20);
      }
    }
  }
}
