@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

.p-error {
  padding: 6rem 0 9rem 0;
  @include sp {
    padding: 4.1rem 0 5rem 0;
  }
}
.error {
  &__message {
    text-align: center;
    @include sp {
      text-align: left;
    }
    p {
      font-size: 1.8rem;
      line-height: calc(30 / 18);
      font-weight: 400;
      @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
      }
    }
  }
  &__return {
    margin-top: 4rem;
    text-align: center;
    width: 100%;
    @include sp {
      margin-top: 1rem;
    }
    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      width: 25rem;
      margin: 0 auto;
      background-color: rgb(203, 0, 0);
      color: #ffffff;
      transition: all 0.3s;
      @include sp {
        width: initial;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 5rem;
        font-size: 1.8rem;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: calc(33 / 25);
        &:hover {
          background-color: #ffffff;
          color: rgb(203, 0, 0);
          border: 0.1rem solid rgb(203, 0, 0);
          opacity: 1;
        }
      }
    }
  }
}
