@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-plan-mv {
  position: relative;
  &__wrapper {
    &::after {
      background-color: rgba(80, 80, 80, 0.502);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  &__title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
  }
  &__titleInner {
    text-align: center;
    z-index: 99;
    color: $color-white;
    // font-size: vw(25);
    font-size: 2.5rem;
    line-height: calc(60 / 25);
    font-weight: bold;
    @include sp {
      // width: 30rem;
    }
  }
}
