@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-price {
  padding: 6.7rem 0 0 0;
  @include sp {
    padding: 4.6rem 0 0 0;
    // padding: 4.3rem 0 0 0;
  }
  &__title {
    h2 {
      font-size: 2.5rem;
      line-height: calc(38 / 25);
      @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
      }
    }
  }

  &__fee {
    margin-top: 4.2rem;
    @include sp {
      margin-top: 3.9rem;
    }
  }
  &__items {
    column-gap: 3rem;
    // column-gap: 3.6rem;
    @include sp {
      flex-direction: column;
    }
  }
  &__item {
    width: 21rem;
    height: 6rem;
    p {
      font-size: 2.2rem;
      line-height: calc(33 / 22);
      font-weight: bold;
    }
  }
  &__icon {
    position: relative;
    width: 1.85rem;
    height: 1.85rem;
    // margin-inline: 1rem;

    @include sp {
      margin-block: 2rem;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #000;
    }
    // 横線
    &::before {
      top: 50%;
      left: 0;
      // 親要素の1.85remが維持される
      width: 100%;
      // 線の高さ部分
      height: 0.3rem;
      transform: translateY(-50%);
    }
    // 縦線
    &::after {
      left: 50%;
      top: 0;
      // 線の幅部分
      width: 0.3rem;
      // 親要素の1.85remが維持される
      height: 100%;
      transform: translateX(-50%);
    }
  }
  &__text {
    margin-top: 4.5rem;
    @include sp {
      margin-top: 4rem;
    }
    p {
      font-size: 1.8rem;
      line-height: calc(30 / 18);
      @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
      }
    }
  }
  &-plan {
    padding: 5.7rem 0 22.5rem 0;
    @include sp {
      padding: 3.8rem 0 19rem 0;
    }
    &__title {
      h2 {
        font-size: 2.5rem;
        line-height: calc(38 / 25);
        @include sp {
          font-size: 2.5rem;
          line-height: calc(40 / 25);
        }
      }
    }

    // 料金表部分
    &__list {
      margin-top: 4.8rem;
      @include sp {
        // margin-top: 3.6rem;
        margin-top: 2.3rem;
      }
      @include sp {
        overflow-x: scroll;
        /* スクロールバーの高さ設定 */
        &::-webkit-scrollbar {
          height: 2.5rem;
        }

        /* スクロールバーの背景色デザイン */
        &::-webkit-scrollbar-track {
          background-color: rgba(80, 80, 80, 0.149);
        }

        /* スクロールバーのボタンデザイン */
        &::-webkit-scrollbar-thumb {
          background-color: rgba(80, 80, 80, 0.251);
          // border-radius: 8px;
        }
      }
      table {
        margin-bottom: 1.75rem;
      }
      tbody {
        tr {
          &:first-of-type {
            border-top: 0.1rem solid #000;
          }
          &:nth-of-type(0) {
            border-left: 0.1rem solid #000;
          }
          &:nth-of-type(even) {
            background-color: $color-white;
            @include sp {
              background-color: rgba(80, 80, 80, 0.149);
            }
          }
          &:nth-of-type(odd) {
            background-color: rgba(80, 80, 80, 0.149);
            @include sp {
              background-color: $color-white;
            }
          }
          &:last-of-type {
            border-bottom: 0.1rem solid #000;
          }
        }
      }
      thead {
        tr {
          &:first-of-type {
            align-items: flex-end;
          }
        }
      }
      tr {
        display: flex;
        align-items: center;
        height: 8.5rem;
        // 料金・サービス内容部分
      }
      th {
        font-size: 2rem;
        line-height: calc(33 / 20);
        width: calc(880 / 4) * 0.1rem;
        @include sp {
          width: 16.75rem;
          line-height: calc(25 / 20);
          text-align: center;
          font-size: 1.6rem;
        }
        &:first-of-type {
          padding: initial;
        }
        // 奇数
        &:nth-of-type(odd) {
          padding: 1.1rem 2rem 0.5rem;
          @include sp {
            align-items: center;
          }
        }
        // 偶数
        &:nth-of-type(even) {
          background-color: #000;
          color: $color-white;
          height: 5rem;
          @include sp {
            height: 6.6rem;
          }
        }
        span {
          display: inline-block;
          width: 100%;
          text-align: center;
          line-height: calc(33 / 17);
          font-size: 1.7rem;
          @include sp {
            font-size: 1.6rem;
          }
        }
      }
      td {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(880 / 4) * 0.1rem;
        text-align: center;
        flex-direction: column;
        // ↑縦並びにする
        height: 100%;
        @include sp {
          width: 16.75rem;
        }
        // 項目ごとのタイトル
        &.service-title {
          text-align: left;
          align-items: initial;
          padding-left: 2rem;
        }
        // 料金
        &.price {
          font-size: 2.2rem;
          line-height: calc(33 / 22);
          font-weight: bold;
        }
        &:not(:first-of-type) {
          border-left: 0.1rem solid #000;
          height: 100%;
        }
        &.color-red,
        .color-red {
          color: $color-red;
          &.font-bold {
            font-weight: bold;
          }
        }
        span {
          width: 100%;
          text-align: center;
        }
      }
    }
    &__option {
      margin-top: 2.6rem;
      @include sp {
        margin-top: 1.7rem;
      }
      p {
        font-size: 1.7rem;
        line-height: calc(25 / 17);
      }
    }
  }
}
