@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-result-list {
  padding: 6.7rem 0 20.7rem 0;
  @include sp {
    padding: 4.6rem 0 19.6rem 0;
  }
  h2 {
    font-size: 2.5rem;
    line-height: calc(38 / 25);
    @include sp {
      line-height: calc(40 / 25);
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    row-gap: 6rem;
    column-gap: 10.6rem;
    @include sp {
      grid-template-columns: initial;
      row-gap: 4.1rem;
      margin-top: 5.2rem;
    }
  }
  // 画像部分のラベル（ホップス）
  &__image {
    position: relative;
    // 写真に重ねる文字の配色部分（全体）
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgb(203, 0, 0);
      color: #ffffff;
      width: 10rem;
      height: 3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      line-height: calc(25 / 15);
      font-weight: bold;
    }
    // ホップス
    &.hops {
      &::before {
        content: "ホップス";
      }
    }
    // ロック
    &.rock {
      &::before {
        content: "ロック";
      }
    }
    // ジャズ
    &.jazz {
      &::before {
        content: "ジャズ";
      }
    }
    // ラテン
    &.latin {
      &::before {
        content: "ラテン";
      }
    }
    // クラッシック
    &.classic {
      &::before {
        content: "クラシック";
      }
    }
    img{
      aspect-ratio: 129 / 91;
      object-fit: cover;

    }
  }
  // タイトル部分
  &__title {
    margin: 3rem 0 1rem 0;
    // 1つ目の要素のmargin
    @include sp {
      margin: 2rem 0 1rem 0;
    }
    &.first {
      margin: 2rem 0 1rem 0;
    }
    p {
      font-weight: bold;
      font-size: 2rem;
      line-height: calc(25 / 20);
    }
  }

  &__date {
    text-align: right;
    time {
      font-size: 1.8rem;
      line-height: calc(32 / 18);
    }
  }
  .p-pager {
    margin-top: 6.4rem;
    @include sp {
      margin-top: 6.1rem;
    }
  }
}
