@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-result-details {
  padding: 7rem 0 15.6rem 0;
  @include sp {
    padding: 4.2rem 0 19.6rem 0;
  }
  &__image {
    position: relative;
    height: 40rem;
    @include sp {
      height: initial;
    }
    &.hops {
      &::before {
        content: "ホップス";
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(203, 0, 0);
        color: #ffffff;
        width: 10rem;
        height: 3rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        line-height: calc(25 / 15);
        font-weight: bold;
      }
    }
  }
  &__title {
    margin-top: 5rem;
    margin-top: 4.3rem;
    @include sp {
      margin-top: 2.7rem;
    }
    h2 {
      font-size: 2.5rem;
      line-height: calc(40 / 25);
      font-weight: bold;
      @include sp {
        font-size: 2rem;
        line-height: calc(30 / 20);
      }
    }
  }
  &__date {
    display: inline-block;
    margin-top: 1.5rem;
    @include sp {
      margin-top: 0.6rem;
    }
    time {
      font-size: 1.7rem;
      line-height: calc(30 / 17);
    }
  }
  &__profile-inner {
    margin-top: 6rem;
    display: flex;
    column-gap: 4rem;
    @include sp {
      flex-direction: column;
      margin-top: 2.1rem;
    }
  }
  &__profile-data {
    table {
      tr {
        // display: flex;
        // align-items: center;
      }
      th {
        background: rgba(229, 229, 229, 1);
        border-top: 0.1rem solid rgba(112, 112, 112, 1);
        border-bottom: 0.1rem solid rgba(112, 112, 112, 1);
        border-left: 0.1rem solid rgba(112, 112, 112, 1);
        width: 14rem;
        height: calc(190 / 5) * 0.1rem;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        padding-left: 2rem;
        vertical-align: middle;
        // padding: 0.8rem 2rem 0;.

        @include sp {
          padding: 0.8rem 1rem 0;
        }
      }
      td {
        border-top: 0.1rem solid rgba(112, 112, 112, 1);
        border-right: 0.1rem solid rgba(112, 112, 112, 1);
        border-left: 0.1rem solid rgba(112, 112, 112, 1);
        width: 26rem;
        height: calc(190 / 5) * 0.1rem;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        padding-left: 2rem;
        vertical-align: middle;
        // padding: 0.8rem 8rem 0 2rem;

        &:last-child {
          border-bottom: 0.1rem solid rgba(112, 112, 112, 1);
        }
      }
    }
  }
  &__profile-comment {
    width: 44rem;
    @include sp {
      width: 100%;
      margin-top: 2.2rem;
    }
    p {
      font-size: 1.8rem;
      line-height: calc(30 / 18);
    }
  }
  &-main__articles {
    margin-top: 5.8rem;
    @include sp {
      margin-top: 4.3rem;
    }
    .p-paging {
      @include sp {
        column-gap: initial;
        display: flex;
        column-gap: 2rem;
      }
      // ページ部分
      &-item__heading {
        // 前のページ
        &-prev {
          padding-left: 2rem;
        }
        // 前のページ
        &-next {
          padding-left: 15rem;
          @include sp {
            padding-left: 4.6rem;
          }
        }
      }
    }
  }
}

// ページ部分
// .pagenation {
// }
.page-relation {
  // margin-top: 10rem;
  margin-top: 10rem;
  display: grid;
  @include sp {
    margin-top: 6.7rem;
  }
  // 関連記事タイトル
  &__title {
    display: flex;
    align-items: center;
    padding-inline-start: 3rem;
    height: 5rem;
    @include sp {
      padding-inline-start: initial;
    }
    h4 {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: calc(33 / 18);
      @include sp {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__items {
    @include sp {
      display: flex;
      flex-direction: column;
    }
    // & a {
    //   display: inline-block;
    // }
  }
  &__item {
    display: flex;
    column-gap: 3rem;
    margin-top: 2.9rem;
    @include sp {
      column-gap: 2rem;
      margin-top: initial;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    position: relative;
    width: 26rem;
    height: 18.4rem;
    flex-shrink: 0;
    @include sp {
      width: 16rem;
      height: 11.3rem;
      margin-top: 2rem;
    }
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgb(203, 0, 0);
      color: #ffffff;
      width: 10rem;
      height: 3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: calc(25 / 15);
      @include sp {
        width: 8rem;
      }
    }
    // ロック
    &.rock {
      &::before {
        content: "ロック";
      }
    }
    // ジャズ
    &.jazz {
      &::before {
        content: "ジャズ";
      }
    }
    // ラテン
    &.latin {
      &::before {
        content: "ラテン";
      }
    }
  }
  &__text-inner {
    display: flex;
    flex-direction: column;
    @include sp {
      margin-top: 1.6rem;
    }
    p {
      font-weight: bold;
      font-size: 2rem;
      line-height: calc(25 / 20);
      @include sp {
        font-size: 1.7rem;
        line-height: calc(28 / 17);
      }
    }
    time {
      display: block;
      margin-top: 3.6rem;
      padding-left: 0.3rem;
      font-size: 1.7rem;
      line-height: calc(30 / 17);
      @include sp {
        margin-top: 0.6rem;
      }
    }
  }
}
