@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-result-list {
  padding: 7.5rem 0 15.5rem 0;
  &__item {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
