@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-result-details {
  padding: 7rem 0 15.7rem 0;
  &__image {
    position: relative;
    &.hops {
      &::before {
        content: "ホップス";
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(203, 0, 0);
        color: #ffffff;
        width: 10rem;
        height: 3rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        line-height: calc(25 / 15);
        font-weight: bold;
      }
    }
  }
  &__title {
    // margin-top: 5rem;
    margin-top: 3.5rem;
    h2 {
      font-size: 2.5rem;
      line-height: calc(40 / 25);
      font-weight: bold;
    }
  }
  &__date {
    display: inline-block;
    margin-top: 1.5rem;
    time {
      font-size: 1.7rem;
      line-height: calc(30 / 17);
    }
  }
  &__profile-inner {
    // margin-top: 5.7rem;
    margin-top: 6rem;
    display: flex;
    column-gap: 4rem;
  }
  &__profile-data {
    table {
      th {
        background: rgba(229, 229, 229, 1);
        border-top: 0.1rem solid rgba(112, 112, 112, 1);
        border-bottom: 0.1rem solid rgba(112, 112, 112, 1);
        border-left: 0.1rem solid rgba(112, 112, 112, 1);
        width: 14rem;
        height: calc(190 / 5) * 0.1rem;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        padding: 0.8rem 2rem 0;
      }
      td {
        border-top: 0.1rem solid rgba(112, 112, 112, 1);
        border-right: 0.1rem solid rgba(112, 112, 112, 1);
        border-left: 0.1rem solid rgba(112, 112, 112, 1);
        width: 26rem;
        height: calc(190 / 5) * 0.1rem;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        padding: 0.8rem 8rem 0 2rem;
        &:last-child {
          border-bottom: 0.1rem solid rgba(112, 112, 112, 1);
        }
      }
    }
  }
  &__profile-comment {
    width: 44rem;
    p {
      font-size: 1.8rem;
      line-height: calc(30 / 18);
    }
  }
}

// ページ部分
// .pagenation {
// }
.page-relation {
  // margin-top: 10rem;
  margin-top: 10.1rem;
  display: grid;
  // 関連記事タイトル
  &__title {
    display: flex;
    align-items: center;
    padding-inline-start: 3rem;
    height: 5rem;
    h4 {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: calc(33 / 18);
    }
  }
  &__item {
    display: flex;
    column-gap: 3rem;
    margin-top: 3rem;
  }
  &__image {
    display: flex;
    justify-content: center;
    position: relative;
    width: 26rem;
    height: 18.4rem;
    flex-shrink: 0;
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgb(203, 0, 0);
      color: #ffffff;
      width: 10rem;
      height: 3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: calc(25 / 15);
      // ロック
    }
    &.rock {
      &::before {
        content: "ロック";
      }
    }
    // ジャズ
    &.jazz {
      &::before {
        content: "ジャズ";
      }
    }
    // ラテン
    &.latin {
      &::before {
        content: "ラテン";
      }
    }
  }
  &__text-inner {
    display: flex;
    flex-direction: column;
    p {
      font-weight: bold;
      font-size: 2rem;
      line-height: calc(25 / 20);
    }
    time {
      display: block;
      margin-top: 1.3rem;
    }
  }
}
