@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-search {
  &__result {
    display: flex;
    @include sp {
      column-gap: 8rem;
      margin-top: 3.6rem;
    }
    span {
      font-weight: bold;
    }
  }

  &__inner {
    display: flex;
    @include sp {
      margin-top: 4rem;
    }
  }
  &__items {
    display: grid;
  }
  &__item {
    display: flex;
  }
}
