@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// 0728修正の続きを行う
.p-search {
  padding: 6.6rem 0 21rem 0;
  @include sp {
    padding: 3.6rem 0 19.7rem 0;
  }
  &__result {
    display: flex;
    flex-wrap: wrap;
    @include sp {
      column-gap: 8rem;
      font-size: 1.8rem;
      line-height: calc(30 / 18);
    }
    span {
      font-weight: bold;
    }
    p {
      margin-left: auto;
    }
  }

  &__inner {
    display: flex;
    margin-top: 4.5rem;
    @include sp {
      margin-top: 4.2rem;
    }
  }
  &__items {
    display: grid;
    row-gap: 7rem;
    @include sp {
      row-gap: 3.9rem;
    }
    a {
      @include sp {
        margin-top: 0.2rem;
      }
    }
  }
  &__item {
    display: flex;
  }
  &__item {
    display: flex;
    column-gap: 5rem;
    @include sp {
      column-gap: 0;
      flex-direction: column;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    position: relative;
    width: 26rem;
    height: 18.4rem;
    flex-shrink: 0;
    @include sp {
      width: 100%;
      height: 20rem;
    }
    picture {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      background-color: rgb(203, 0, 0);
      color: #ffffff;
      width: 8rem;
      height: 3rem;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      line-height: calc(25 / 15);
      font-weight: bold;
      @include sp {
        width: 9rem;
      }
    }
    // 集客方法（attracting-customers）・SNS（sns）
    &.guitar {
      &::before {
        content: "ギター";
        // font-weight: bold;
      }
    }
    // 集客方法（attracting-customers）
    &.attracting-customers {
      &::before {
        content: "集客方法";
      }
    }
    // SNS（sns）
    &.sns {
      &::before {
        content: "SNS";
      }
    }
  }

  &__label {
    width: 8rem;
    height: 3rem;
  }
  &__text-inner {
    // height: 18rem;
    width: 57rem;
    @include sp {
      width: 100%;
      @include sp {
        margin-top: 2.8rem;
      }
    }

    h3 {
      font-size: 2rem;
      line-height: calc(25 / 20);
      font-weight: bold;
      @include sp {
        line-height: calc(30 / 20);
      }
    }
    time {
      // display: inline-block;
      // margin: 0.3rem 0 1.1rem 0;
      line-height: calc(30 / 17);
      font-size: 1.7rem;
      @include sp {
        display: flex;
        justify-content: right;
        margin-top: 0.6rem;
      }
    }
    p {
      // font-size: 1.8rem;
      width: 57rem;
      margin-top: 1rem;
      font-size: 1.8rem;
      line-height: calc(30 / 18);
      @include sp {
        width: initial;
        margin-top: 0.8rem;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
      }
    }
  }
  .c-pager {
    @include sp {
      margin-top: 5.9rem;
    }
  }
}
