@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-header {
  z-index: 1000;
  width: 100%;
  height: 8rem;
  left: 0;
  top: 0;
  transition: all 0.3s;
  position: fixed;
  background-color: $color-white;
  @include sp {
    height: 5rem;
    padding-right: 0;
  }
  & .inner {
    @include sp {
      width: 100%;
    }
  }
  // ヘッダーのロゴ～お問い合わせボタン部分の表記
  &__wrapper {
    display: flex;
    @include sp {
      padding-left: 2rem;
      height: 5rem;
      justify-content: space-between;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    height: 8rem;
    @include sp {
      display: initial;
      height: 5rem;
    }
  }
  &__items {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-right: 0.7rem;
    @include sp {
      display: flex;
      align-items: center;
    }
  }
  & a {
    @include sp {
      display: flex;
      align-items: center;
      height: 5rem;
      img {
        @include sp {
          height: 3.1rem;
          width: 2rem;
        }
      }
    }
  }

  // ナビゲーション部分のお問い合わせボタン
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 0.6rem 3rem;
    height: 4.5rem;
    width: 15rem;
    @include sp {
      display: none;
      // →お問い合わせボタンはSPで移動時についてくるようにする
    }
    a {
      line-height: calc(33 / 15);
      font-size: 1.5rem;
      // 親要素に対して、子要素の横幅100%（横幅）
      width: 100%;
      // 親要素に対して、子要素の横幅100%（縦幅）
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // ナビゲーションメニュー（通常時）
  // 全体
  &__nav {
    display: flex;
    align-items: center;
    column-gap: 3.3rem;
    margin-left: auto;
    @include sp {
      position: fixed;
      top: 5rem;
      transition: all 0.3s;
    }
    ul {
      display: flex;
      column-gap: 3.3rem;
      @include sp {
        display: none;
        align-items: center;
        width: 30rem;
      }
      li {
        @include sp {
          align-items: center;
          display: flex;
          font-size: 1.8rem;
          height: 5.8rem;
          width: 30rem;
        }
      }
      a {
        display: flex;
        align-items: center;
        height: 8rem;
        cursor: pointer;
        position: relative;
        transition: 0.3s all;
        // ホバーした時に全部表示する
        &:hover::before {
          clip-path: inset(0 0 0 0);
          // 全表示状態
          @include sp {
            clip-path: initial;
          }
        }
        // ホバー
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 0.1rem;
          background-color: $color-black;
          bottom: 2.5rem;
          // 一番左寄せ
          left: 0;
          clip-path: inset(0 100% 0 0);
          // 上・右・下・左の順番
          // 今回は右から左に線を消す
          transition: 0.3s all;
        }
        @include sp {
          padding-left: 2rem;
        }
      }
    }

    // ハンバーガーボタンがクリックされたとき
    &.active {
      ul {
        @include sp {
          display: block;
          align-items: center;
          column-gap: initial;
          width: 30rem;
        }
      }
      li {
        @include sp {
          font-size: 1.8rem;
          height: initial;
          width: 30rem;
        }
        &:hover {
          background-color: rgb(0, 0, 0);
        }
      }
      a {
        width: 100%;
      }
    }
    &-wrapper {
      @include sp {
        position: fixed;
        top: 5rem;
        right: -110%; // ← 初期状態（隠す）
        align-items: initial;
        transition: all 0.3s;
      }
      &.active {
        @include sp {
          right: 0; // ← 表示状態
          background-color: $color-red;
          color: $color-white;
        }
      }
    }
  }

  // ハンバーガーボタン部分（PCで非表示でSPで表示）
  // &__hb {
  //   display: none;
  //   @include sp {
  //     display: flex;
  //     justify-content: space-between;
  //   }
  //   // ハンバーガーボタンがクリックされたとき
  //   &.active {
  //     @include sp {
  //       right: 0;
  //       // ナビゲーションメニューが表示された状態になる
  //       background-color: lightgreen;
  //       // ハンバーガーopen時の動作（三→×）
  //       span {
  //         &:nth-child(1) {
  //           transform: rotate(45deg) translate(0.8rem, 0.8rem);
  //         }
  //         &:nth-child(2) {
  //           background-color: transparent;
  //         }
  //         &:nth-child(3) {
  //           transform: rotate(-45deg) translate(0.8rem, -0.8rem);
  //         }
  //       }
  //     }
  //   }

  //   &-line {
  //     @include sp {
  //       transition: 0.3s;
  //       display: block;
  //       background-color: $color-white;
  //       border-radius: 0.2rem;
  //       width: 3.2rem;
  //       height: 0;
  //       padding-block: 0.2rem;
  //     }
  //   }
  //   @include sp {
  //     &-btn {
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       flex-direction: column;
  //       width: 7.2rem;
  //       height: 5rem;
  //       background-color: $color-red;
  //       row-gap: 0.7rem;
  //       cursor: pointer;
  //       // ハンバーガーボタン　三本線部分
  //     }
  //   }
  // }
}
