// FVはWebページの画面領域、MVはFV内の大きな画像
.p-top-mv {
  position: relative;
  &__title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
  }
  &__titleInner {
    text-align: center;
    z-index: 99;
    color: $color-white;
    font-size: 4rem;
    line-height: calc(60 / 40);
    font-weight: bold;
  }
}
