@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// ご利用の流れ
.p-use {
  padding: 5.4rem 0 9.1rem 0;
  @include sp {
    padding: initial;
    padding-top: 4.6rem;
  }
  &__title {
    h2 {
      font-size: 3rem;
      line-height: calc(50 / 30);
      @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
      }
    }
  }
  &__flow {
    position: relative;
    display: grid;
    // row-gap適用するためにdisplay: gridを使用
    row-gap: 5.8rem;
    margin-top: 5rem;
    padding-left: 5rem;
    @include sp {
      margin-top: 3.4rem;
      row-gap: 3.6rem;
      padding-left: inherit;
    }
    &-detail {
      display: flex;
      align-items: center;
      justify-content: center;
      @include sp {
        display: initial;
        column-gap: 2rem;
      }
      &:first-of-type {
        .p-use__flow-detail__circle {
          position: relative;
          span {
            position: absolute;
            transform: translateX(-50%);
            width: 0.3rem;
            height: 40.9rem;
            background-color: rgb(203, 0, 0);
            transform-origin: left top;
            top: 10%;
            left: 51%;
            @include sp {
              top: 1rem;
              left: 52%;
              transform: translateX(-50%);
              height: 67.4rem;
            }
            &::before {
              left: -1.6rem;
              top: 100%;
              top: 96.5%;
              content: "";
              position: absolute;
              transform: rotate(-45deg);
              width: 2.5rem;
              height: 2.5rem;
              border-bottom: 0.3rem solid rgb(203, 0, 0);
              border-left: 0.3rem solid rgb(203, 0, 0);
              transform-origin: left top;
              @include sp {
                left: 0.15rem;
                top: initial;
                bottom: 0;
                // background-color: #ff6;
                // border-color: #00f;
                transform: rotate(-45deg);
                transform-origin: left bottom;
              }
            }
          }
        }
      }
      &-inner {
        display: flex;
        // width: 29rem;
        margin-left: 5rem;
        @include sp {
          flex-direction: column;
          margin-top: -2.5rem;
          // flex: 1;
        }
      }
      &__title {
        display: flex;
        align-items: center;
        width: 15.4rem;
        font-size: 2.2rem;
        line-height: calc(33 / 22);
        margin-right: 3.8rem;
      }
      &__circle {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgb(203, 0, 0);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        // margin-right: 4.3rem;
        // margin-right: 0;
        @include sp {
          margin-right: initial;
          margin-top: 0.6rem;
          margin-left: 0.8rem;
        }
      }
      &__ja {
        display: flex;
        align-items: center;
        // justify-content: center;
        width: 56.7rem;
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        @include sp {
          width: 28.7rem;
          margin-top: 0.9rem;
          font-size: 1.6rem;
          line-height: calc(30 / 16);
        }
      }
    }

    // 矢印の屋根部分
    // :last-of-type &::before {
    :nth-child(1) &::before {
      // left: 2.5%;
      // top: 100%;
      // content: "";
      // position: absolute;
      // transform: rotate(-45deg);
      // width: 2.5rem;
      // height: 2.5rem;
      // border-bottom: 0.3rem solid rgb(203, 0, 0);
      // border-left: 0.3rem solid rgb(203, 0, 0);
      // transform-origin: left top;
      // @include sp {
      //   left: -1.2%;
      // }
    }
    // 縦棒部分
    :nth-child(1) &::after {
      // content: "";
      // position: absolute;
      // transform: translateX(-50%);
      // width: 0.3rem;
      // height: 40.9rem;
      // background-color: rgb(203, 0, 0);
      // transform-origin: left top;
      // left: 4.5%;
      // top: 5%;
      // @include sp {
      //   top: 10%;
      //   height: 67rem;
      //   left: 2.5%;
      // }
    }
  }
}
