@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// ハンバーガーボタン
.p-header {
  z-index: 1000;
  width: 100%;
  height: 8rem;
  left: 0;
  top: 0;
  transition: all 0.3s;
  position: fixed;
  @include sp {
    height: 5rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .inner {
    // display: flex;
    // align-items: center;
    // height: 100%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include sp {
      height: 5rem;
      padding: 1rem 0 0.9rem 0;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    height: 8rem;
    @include sp {
      height: 5rem;
      padding: 1rem 0 0.9rem 0;
    }
  }
  &__scroll-bg {
    @include sp {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  &__nav-wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    -moz-column-gap: 3.3rem;
    /* column-gap: 3.3rem; */
    margin-left: auto;
    @include sp {
      display: none;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3.3rem;
  }

  // ナビゲーション部分のお問い合わせボタン
  &__button {
    width: 15rem;
    height: 4.5rem;
    display: flex;
  }

  &__items {
    display: flex;
  }

  &__nav {
    ul {
      display: flex;
      column-gap: 3.3rem;
      a {
        display: flex;
        align-items: center;
        height: 8rem;
        width: 100%;
        transition: all 0.3s;
        cursor: pointer;
      }
    }
  }

  @include sp {
    &__hb-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 7.2rem;
      height: 5rem;
      background-color: $color-red;
      row-gap: 0.7rem;
      cursor: pointer;
    }
    &__hb-line {
      @include sp {
        transition: 0.3s;
        display: block;
        background-color: $color-white;
        border-radius: 0.2rem;
        width: 3.2rem;
        height: 0;
        padding-block: 0.2rem;
      }
    }
  }
}
