@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// 生徒さんたちの声
.p-voice {
  padding: 6.5rem 0 6rem;
  @include sp {
    padding: 4.5rem 0 5.1rem;
  }

  &__items {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // column-gap: 3.5rem;
    margin-top: 3.6rem;
    @include sp {
      margin-top: 4.3rem;
    }
  }
  &__item {
    width: 100%;
  }

  &__image {
    width: 27rem;
    @include sp {
      width: 33.5rem;
      height: 20rem;
    }
  }
  &__name {
    margin-top: 1.7rem;
    text-align: center;
    @include sp {
      margin-top: 2.3rem;
    }
    & span {
      font-size: 2.2rem;
      font-weight: bold;
    }
  }
  &__comment {
    margin-top: 1rem;
    text-align: center;
    font-size: medium;
    @include sp {
      text-align: initial;
    }
    & p {
      font-size: 1.8rem;
      line-height: calc(30 / 18);
    }
  }
}
