@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
.p-header {
  z-index: 1000;
  width: 100%;
  height: 8rem;
  left: 0;
  top: 0;
  transition: all 0.3s;
  position: fixed;
  background-color: $color-white;
  @include sp {
    height: 5rem;
    padding-right: 0;
  }
  & .inner {
    @include sp {
      width: 100%;
    }
  }

  // ナビゲーション部分のお問い合わせボタン
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    width: 15rem;
    @include sp {
      display: none;
    }
    // a {
    //   line-height: calc(33 / 15);
    //   font-size: 1.5rem;
    //   // 親要素に対して、子要素の横幅100%（横幅）
    //   width: 100%;
    //   // 親要素に対して、子要素の横幅100%（縦幅）
    //   height: 100%;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }
  }
}
