@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// スクールが選ばれる理由
.p-reason {
  padding: 6.4rem 0 7rem;
  @include sp {
    // padding: 4.3rem 0 2.8rem 0;
    padding: 4.7rem 0 3.9rem 0;
    // padding: 3.7rem 0 3.9rem 0;
  }
  &__sectionTitle {
    @include sp {
      margin-top: -0.6rem;
    }
    h2 {
      font-size: 3rem;
      line-height: calc(50 / 30);
      font-weight: bold;
      @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
      }
    }
  }
  &__contents {
    padding-top: 2.8rem;
    @include sp {
      padding-top: initial;
      margin: 4.3rem 0 0 0;
    }
  }
  &__items {
    display: grid;
    row-gap: 5rem;
    @include sp {
      row-gap: 4.3rem;
    }
  }

  &__item {
    display: flex;
    @include sp {
      display: initial;
      display: grid;
      row-gap: 2.6rem;
    }
  }
  // 画像幅を35remに指定する
  &__image {
    // row-gap: 5rem;
    width: 35rem;
    @include sp {
      width: 100%;
    }
  }
  // flex:1にする
  &__comments {
    flex: 1;
  }
  // 文字に対するプロパティはh3タグに記載する
  &__title {
    position: relative;
    padding-left: 5rem;
    // ↑疑似要素で位置を0で調整すればよいため、paddingで調整を掛ける
    // padding-top: 0.5rem;
    @include sp {
      padding-left: initial;
    }
    &::before {
      content: "";
      // width: calc(100% + 5rem);
      width: calc(100%);
      height: 0.3rem;
      position: absolute;
      background-color: $color-red;
      bottom: 0;
      right: 0;
      top: 4.1rem;
      @include sp {
        top: 7.1rem;
      }
    }
    &.first {
      padding-top: 0.5rem;
      @include sp {
        padding-top: initial;
      }
      &::before {
        content: "";
        // width: calc(100% + 5rem);
        width: calc(100%);
        height: 0.3rem;
        position: absolute;
        background-color: $color-red;
        bottom: 0;
        right: 0;
        top: 5.1rem;
        @include sp {
          top: 7.1rem;
        }
      }
    }

    h3 {
      font-size: 2.2rem;
      font-weight: bold;
      line-height: calc(33 / 22);
      @include sp {
        font-size: 2rem;
        line-height: calc(30 / 20);
      }
    }
  }
  &__comment {
    padding-left: 5rem;
    padding-top: 4.5rem;
    @include sp {
      padding-left: initial;
      padding-top: initial;
      margin-top: 2.7rem;
    }
    & p {
      // margin: 3.7rem 0 0;
      // width: 49rem;
      font-size: 1.8rem;
      line-height: calc(33 / 18);
      @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
      }
    }
  }
}
