@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// 0409記述予定
// FVはWebページの画面領域、MVはFV内の大きな画像
.p-top-mv {
  position: relative;
  &__title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
  }
  &__titleInner {
    text-align: center;
    z-index: 99;
    color: $color-white;
    font-size: 4rem;
    line-height: calc(60 / 40);
    font-weight: bold;
  }
}

.p-concept {
  position: relative;
  .inner {
    padding: 6.6rem 0 5.5rem;
  }
  // 全人類、 ミュージシャン計画。
  &__title {
    h2 {
      font-size: 3.5rem;
      text-align: center;
    }
    p {
      font-size: 1.8rem;
      margin-top: 1.7rem;
      text-align: center;
    }
  }
  // アーチ型アイコン
  &__topIcon {
    margin-top: 3.4rem;
  }
  // 赤文字英語部分
  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // column-gap: 3rem;
  }

  &__comments {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }
  &__comment {
    font-size: 2.5rem;
    line-height: calc(50 / 25);
    text-align: right;
  }

  // 0412疑似要素で矢印を作る
  // 参考サイト
  // https://125naroom.com/web/2864
  // https://chatgpt.com/c/67fa1fbf-0420-8010-9ed8-73aba8530a91

  // 矢印の上部
  &__arrow {
    position: relative;
    display: inline-block;
    height: 20.5rem;
    // width: 3rem;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      // transform: translateX(-50%);
      transform: rotate(-45deg);
      width: 0;
      width: 3rem;
      height: 0;
      border-top: 1.5rem solid $color-red;
      // border-right: 1.5rem solid $color-red;
      border-bottom: 1.5rem solid $color-red;
    }
    // 縦線部分
    &::after {
      content: "";
      position: absolute;
      top: 1.5rem;
      left: 50%;
      transform: translateX(-50%);
      width: 1rem;
      height: 19rem;
      background-color: $color-red;
      border-radius: 3px solid $color-red;
    }
  }
  // ●型アイコン
  &__centerIcon {
    display: grid;
    row-gap: 8rem;
    margin-inline: 5rem;
    margin: 0 5rem 0;
    & picture {
      height: 2rem;
    }
  }
  // 説明部分
  &__description {
    font-size: 2.3rem;
    line-height: calc(50 / 23);
    row-gap: 5rem;
    display: grid;
  }
}
// スクールが選ばれる理由
.p-reason {
  padding: 6.5rem 0 7rem;
  &__contents {
    margin: 2.8rem 0 0 0;
  }
  &__item {
    display: flex;
  }

  &__comments {
    display: inline-block;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: bold;
    & h3 {
      border-bottom: 2px solid $color-red;
      padding: 0 8.5rem 0 5rem;
      white-space: nowrap;
    }

    // &__commonLine {
    //   position: absolute;
    //   border-bottom: 1px solid $color-red;
    // }
  }
  &__comment {
    padding: 0 8.5rem 0 5rem;
    & p {
      margin: 3.7rem 0 0;
    }
  }
}

// 生徒さんたちの声
.p-voice {
  padding: 6.5rem 0 6rem;
  &__wrapper {
    margin-top: 3.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.5rem;
  }
  &__name {
    margin-top: 1.7rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
  }
  &__comment {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    font-size: medium;
  }
}

// ご利用の流れ
.p-use {
  padding: 5.4rem 0 0 0;
}

// よくあるご質問
.p-faq {
  padding: 5.4rem 0 0 0;
}
