@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

.p-concept {
  position: relative;
  padding-top: 6.6rem;
  padding-bottom: 0.7rem;
  // 全人類、 ミュージシャン計画。
  @include sp {
    padding: 3.9rem 0 0;
  }
  &__title {
    h2 {
      font-size: 3.5rem;
      text-align: center;
      line-height: calc(50 / 35);
      @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
        font-weight: bold;
      }
    }
    p {
      font-size: 1.8rem;
      margin-top: 1.7rem;
      margin-bottom: 3.4rem;
      text-align: center;
      line-height: calc(30 / 18);
      @include sp {
        margin-top: 0.7rem;
        margin-bottom: 2rem;
        text-align: initial;
      }
    }
  }
  &__topIcon {
    @include sp {
      padding-top: 0.7rem;
    }
  }
  // 親要素
  &__flow {
    position: relative;
    display: grid;
    row-gap: 1.7rem;
    margin: -3rem 0 5rem 0;
    @include sp {
      // margin: 3.2rem 0 5rem 0;
      margin: 3.2rem 0 4.1rem 0;
    }
    // 子要素（英語・●・日本語）
    &-detail {
      display: flex;
      align-items: center;
      justify-content: center;
      @include sp {
        column-gap: 3rem;
      }
      // 矢印の上部（屋根部分）
      // 最初の子要素にbefore擬似要素
      :nth-of-type(1) &::before {
        top: -38%;
        top: -16%;
        left: 50%;
        content: "";
        position: absolute;
        transform: rotate(45deg);
        width: 2.5rem;
        height: 2.5rem;
        border-top: 0.3rem solid rgb(203, 0, 0);
        border-left: 0.3rem solid rgb(203, 0, 0);
        transform-origin: left top;
      }
      // 矢印の縦線部分
      :nth-of-type(1) &::after {
        // content: "";
        // position: absolute;
        // top: -2.5rem;
        // transform: translateX(-50%);
        // width: 0.3rem; //太さ3px
        // height: 15.8rem;
        // background-color: $color-red;
        // transform-origin: left top;
        // left: 44rem;
        content: "";
        position: absolute;
        top: -2.5rem;
        transform: translateX(-50%);
        width: 0.3rem;
        height: 19rem;
        background-color: rgb(203, 0, 0);
        transform-origin: left top;
        left: 44rem;
        @include sp {
          left: 50%;
        }
      }
    }
  }

  // 英語部分
  &-flow-detail__en {
    font-size: 2.5rem;
    line-height: calc(50 / 25);
    text-align: right;
    width: 18rem;
    font-weight: bold;
    @include sp {
      font-size: 2rem;
      line-height: 2.5;
      width: initial;
      flex: 1;
    }
  }

  // 矢印全体
  &-flow-detail__circle {
    display: flex;
    align-items: center;
    flex-direction: column;
    // ●アイコンサイズ
    background-color: $color-red;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0 3rem;
    @include sp {
      margin: initial;
    }
  }

  // 説明部分
  &-flow-detail__ja {
    font-size: 2.3rem;
    line-height: calc(50 / 23);
    width: 18rem;
    @include sp {
      font-size: 2rem;
      line-height: 2.5;
      flex: 1;
    }
  }
}
