@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// 音楽業界初！・・・
.p-massage {
  // padding: 6rem 0 6.2rem;
  padding: 6.1rem 0 6.2rem;
  @include sp {
    // padding: 4.1rem 0 3.1rem;
    padding: 4.1rem 0 4.2rem;
  }
  &__title h2 {
    color: $color-white;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    line-height: calc(50 / 30);
    @include sp {
      line-height: calc(40 / 25);
      font-size: 2.5rem;
    }
  }
  &__contents {
    margin-top: 3.5rem;
    @include sp {
      margin-top: 1.9rem;
    }
    & p {
      text-align: center;
      color: $color-white;
      line-height: calc(30 / 18);
      font-size: 1.8rem;
    }
  }
}
