@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// よくあるご質問
.p-faq {
  // アコーディオンメニューの親要素
  &__accordion {
    padding: 5.3rem 0 0 0;
    border-bottom: 0.05rem solid #000000;
    // 質問
    &-question {
      padding: 2rem 2.8rem 1.7rem 1.9rem;
      display: flex;
      align-items: center;
      position: relative;
      @include sp {
        padding: initial;
      }
      &:hover {
        cursor: pointer;
      }
      &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        content: "Q";
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background-color: #000;
        color: $color-white;
        @include sp {
          // margin-right: 2rem;
        }
      }
      &::after {
        position: absolute;
        content: "";
        width: 1.36rem;
        height: 1.36rem;
        border-right: 0.1rem solid #000;
        border-bottom: 0.1rem solid #000;
        left: 85.5%;
        transform: rotate(45deg);
      }
      // 最初の要素のみ上に線を付ける
      &:first-of-type {
        border-top: 0.05rem solid #000000;
      }
      &:last-of-type {
        border-bottom: 0.1rem solid #000;
      }
      // 文字サイズ
      & span {
        padding-left: 4.1rem;
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        @include sp {
          display: inline-block;
          padding: 1rem 0;
          font-size: 1.6rem;
          font-weight: 400;
          margin-left: 5.5rem;
          width: 23.3rem;
        }
      }
      // 回答部分が表示されたときに下線を表示する
      &.active {
        border-bottom: 0.1rem solid #000;
      }
    }
    // 回答・通常
    &-answer {
      display: none;
      padding: 2rem 2.8rem 1.7rem 1.9rem;
      &:hover {
        cursor: pointer;
      }
      &:first-of-type {
        border-top: 0.05rem solid #000000;
      }

      @include sp {
        padding: initial;
        & span {
          @include sp {
            padding: 1.7rem 4.7rem 0.9rem 5.5rem;
            font-size: 1.6rem;
            font-weight: bold;
          }
        }
      }
      .answer-inner {
        @include sp {
          display: flex;
          align-items: center;
        }
        &::before {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          content: "A";
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          background-color: $color-red;
          color: $color-white;
        }
      }
      & span {
        display: inline-block;
        padding-left: 4.1rem;
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        @include sp {
          // display: flex;
          // align-items: center;
        }
      }
    }
  }
}
