@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// スクールが選ばれる理由
.p-reason {
  padding: 6.5rem 0 7rem;
  @include sp {
    // padding: 4.3rem 0 2.8rem 0;
    padding: 4.9rem 0 3.9rem 0;
    // padding: 3.7rem 0 3.9rem 0;
  }
  &__sectionTitle {
    @include sp {
      // padding-top: 0.7rem;
      background-color: #ff6;
      margin-top: -0.6rem;
    }
  }
  &__contents {
    margin: 3.6rem 0 0 0;
    @include sp {
      margin: 4.3rem 0 0 0;
    }
  }
  &__items {
    display: grid;
    row-gap: 5rem;
    @include sp {
      row-gap: 3.9rem;
    }
  }

  &__item {
    display: flex;
    row-gap: 0.7rem;

    @include sp {
      display: initial;
      display: grid;
      row-gap: 3rem;
    }
  }
  // 画像幅を35remに指定する
  &__image {
    // row-gap: 5rem;
    width: 35rem;
    @include sp {
      width: 100%;
    }
  }
  // flex:1にする
  &__comments {
    flex: 1;
  }
  // 文字に対するプロパティはh3タグに記載する
  &__title {
    // border-bottom: 2px solid $color-red;
    position: relative;
    // margin-top: 0.7rem;
    // padding-bottom: 1.2rem;
    padding-left: 5rem;
    // ↑疑似要素で位置を0で調整すればよいため、paddingで調整を掛ける
    @include sp {
      padding-left: initial;
      // margin-top: 3rem;
      // padding-bottom: 1rem;
    }
    &::before {
      content: "";
      // width: calc(100% + 5rem);
      width: calc(100%);
      height: 0.3rem;
      position: absolute;
      background-color: $color-red;
      bottom: 0;
      right: 0;
    }
    & h3 {
      font-size: 2.2rem;
      font-weight: bold;
      @include sp {
        font-size: 2rem;
        line-height: calc(30 / 20);
      }
    }
  }
  &__comment {
    padding-left: 5rem;
    margin-top: 3.7rem;
    @include sp {
      padding-left: initial;
      margin-top: 1.7rem;
    }
    & p {
      // margin: 3.7rem 0 0;
      // width: 49rem;
      font-size: 1.8rem;
      line-height: calc(33 / 18);
      @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
      }
    }
  }
}
