@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// よくあるご質問
.p-blog {
  // padding: 7rem 0 27.2rem 0;
  padding: 7rem 0 20.5rem 0;
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    margin-top: 3.8rem;
    @include sp {
      margin-top: 3.9rem;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 4.1rem;
    }
  }
  &__item {
    // width: 26rem;
    @include sp {
      width: initial;
    }
  }
  // &__image {
  //   height: auto;
  //   height: 100%;
  // }
  // &__title {
  //   padding: 7rem 0 3.8rem 0;
  // }
  &__comment {
    padding: 2rem 0 1.1rem 0;
    a {
      font-size: 2rem;
      font-weight: bold;
      line-height: calc(25 / 20);
    }
  }
  &__date {
    padding-top: 1.1rem;
    text-align: right;
    time {
      font-size: 1.7rem;
    }
  }
  &__link {
    margin-top: 3.7rem;
    text-align: right;
    span {
      border-bottom: 0.1rem solid #000;
    }
  }
}
