@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// よくあるご質問
.p-faq {
  position: relative;
  padding-top: 2rem;
  // z-index: 5;
  // アコーディオンメニューの親要素
  @include sp {
    padding-top: 5rem;
  }
  &__title {
    h2 {
      font-size: 3rem;
      line-height: calc(50 / 30);
      @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
      }
    }
  }
  &__accordion {
    margin-top: 3.8rem;
    border-bottom: 0.05rem solid #000000;
    @include sp {
      margin-top: 4.1rem;
    }
    // 質問
    &-question {
      display: flex;
      align-items: center;
      // padding: 2rem 2.8rem 1.7rem 1.9rem;
      // padding: 0rem 2.8rem 0rem 1.9rem;
      padding-left: 2rem;
      height: 6.5rem;
      position: relative;
      background-color: $color-white;
      @include sp {
        padding: initial;
        height: 8.6rem;
      }
      &.last {
        @include sp {
          height: 5.6rem;
        }
      }
      &:hover {
        cursor: pointer;
      }
      &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        content: "Q";
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background-color: #000;
        color: $color-white;
      }
      &::after {
        position: absolute;
        content: "";
        width: 1.36rem;
        height: 1.36rem;
        border-right: 0.1rem solid #000;
        border-bottom: 0.1rem solid #000;
        // left: 85.5%;
        left: 95.2%;
        transform: rotate(45deg);
        transition: 0.5s all;
        @include sp {
          left: 90%;
        }
      }
      // 最初の要素のみ上に線を付ける
      &:first-of-type {
        border-top: 0.05rem solid #000000;
      }
      &:last-of-type {
        border-bottom: 0.1rem solid #000;
      }
      // 文字サイズ
      & span {
        padding-left: 4.1rem;
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        @include sp {
          display: inline-block;
          padding: 1rem 0;
          font-size: 1.6rem;
          font-weight: 400;
          margin-left: 5.5rem;
          width: 23.3rem;
          line-height: calc(30 / 16);
        }
      }
      // 回答部分が表示されたときに下線を表示する
      &.active {
        border-bottom: 0.1rem solid #000;
        // 0614追加中
        &::after {
          transform: rotate(-135deg);
        }
      }
    }
    // 回答・通常
    &-answer {
      display: none;
      padding: 2rem 2.8rem 1.7rem 1.9rem;
      padding: 0rem 2.8rem 0rem 1.9rem;
      background-color: rgba(203, 0, 0, 0.098);
      &:hover {
        cursor: pointer;
      }
      &:first-of-type {
        border-top: 0.05rem solid #000000;
      }

      @include sp {
        padding: initial;
        & span {
          @include sp {
            padding: 1.6rem 4.7rem 0.9rem 5.5rem;
            font-size: 1.6rem;
            font-weight: bold;
          }
        }
      }
      .answer-inner {
        height: 6.5rem;
        line-height: 6.5rem;
        display: flex;
        align-items: center;
        position: relative;
        @include sp {
          display: flex;
          align-items: center;
          height: 100%;
        }
        &::before {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          content: "A";
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          background-color: $color-red;
          color: $color-white;
        }
      }
      & span {
        display: inline-block;
        padding-left: 4.5rem;
        font-size: 1.7rem;
        line-height: calc(30 / 17);
        text-align: initial;
        @include sp {
          font-size: 1.6rem;
          line-height: calc(30 / 16);
          padding-left: 5.5rem;
          text-align: left;
        }
      }
    }
  }
}
