@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// 生徒さんたちの声
.p-voice {
  padding: 6.5rem 0 6rem;
  & .inner{
    
  }
  &__wrapper {
    margin-top: 3.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.5rem;
    @include sp {
      margin-top: 4rem;
      // アニメーション化したら消す
      grid-template-columns: repeat(1, 1fr);
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__image {
    width: 27rem;
  }
  &__name {
    margin-top: 1.7rem;
    text-align: center;
    & span {
      font-size: 2.2rem;
      font-weight: bold;
    }
  }
  &__comment {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    font-size: medium;
    & p {
      @include sp {
        font-size: 1.8rem;
        line-height: calc(30 / 18);
      }
    }
  }
}
