@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

.footer {
  &__wrapper {
    background-color: $color-red;
    // height: 27.4rem;
    padding: 4.4rem 0 5rem 0;
  }
  &__nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 3.3rem;
      li {
        color: $color-white;
      }
    }
  }
  &__copyright {
    p {
      text-align: center;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.1rem 0 2.3rem 0;
  }
  &__sns-links {
    margin-top: 3.2rem;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: calc(12.3 / 3 * 1rem);
    }
  }
}
