@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// よくあるご質問
.p-blog {
  padding: 9.5rem 0 20.5rem 0;
  @include sp {
    padding: 4.5rem 0 19.5rem 0;
  }
  &__title {
    // padding-top: 2rem;
    @include sp {
      padding-top: initial;
    }
    h2 {
      font-size: 3rem;
      font-size: 2.5rem;
      line-height: calc(40 / 25);
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    margin-top: 4rem;
    @include sp {
      margin-top: 3.9rem;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 4.3rem;
    }
  }
  &__image {
    position: relative;
    // 写真に重ねる文字の配色部分（全体）
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgb(203, 0, 0);
      color: #ffffff;
      width: 8rem;
      height: 3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      line-height: calc(25 / 15);
      font-weight: bold;
      @include sp {
        width: 9rem;
      }
    }
    // ホップ
    &.sns {
      &::before {
        content: "SNS";
      }
    }
    // ロック
    &.attracting-customers {
      &::before {
        content: "集客方法";
      }
    }
    // ギター
    &.guitar {
      &::before {
        content: "ギター";
      }
    }
    img {
      height: 20rem;
      object-fit: cover;
    }
    // 画像部分のラベル（ホップス）
  }
  a {
    font-size: 2rem;
    line-height: calc(25 / 20);
  }
  @include sp {
    width: initial;
  }
  &__comment {
    padding: 2rem 0 1.1rem 0;
    font-weight: bold;
    @include sp {
      padding: 2.6rem 0 0.8rem 0;
      line-height: calc(30 / 20);
      font-size: 2rem;
    }
  }
  &__date {
    text-align: right;
    time {
      font-size: 1.7rem;
      line-height: calc(30 / 17);
    }
  }
  &__link {
    margin-top: 3.7rem;
    text-align: right;
    @include sp {
      text-align: center;
    }
    span {
      border-bottom: 0.1rem solid #000;
      a {
        font-size: 1.8rem;
        line-height: calc(30 / 18);
      }
    }
  }
}
