@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// 生徒さんたちの声
.p-voice {
  padding: 6.5rem 0 6rem;
  // position: relative;
  @include sp {
    padding: 4.5rem 0 5.1rem;
  }
  &__title {
    h2 {
      line-height: calc(50 / 30);
      font-size: 3rem;
      @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
      }
    }
  }

  &__items {
    margin-top: 3.6rem;
    @include sp {
      margin-top: 4.3rem;
    }
    // a{
    //   display: inline-block;
    //   // margin: 0 1.75rem;
    //   // margin-inline: 3.5rem;
    //   margin: 0 1.75rem;
    // }
  }
  &__item {
    width: 27rem;
    @include sp {
      width: 100%;
    }
  }

  &__image {
    width: 27rem;
    @include sp {
      width: 33.5rem;
      height: 20rem;
    }
  }
  &__name {
    margin-top: 1.4rem;
    text-align: center;
    @include sp {
      margin-top: 2.3rem;
    }
    & span {
      font-size: 2.2rem;
      line-height: calc(33 / 22);
      font-weight: bold;
    }
  }
  &__comment {
    margin-top: 1rem;
    font-size: medium;
    @include sp {
      text-align: initial;
    }
    & p {
      font-size: 1.8rem;
      line-height: calc(30 / 18);
    }
  }

  // スライダー矢印ボタン
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    // background: rgba(200, 200, 200, 0.8);
    border: none;
    // border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    &:hover {
      // background: rgba(200, 200, 200, 1);
      // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      // transform: translateY(-50%) scale(1.05);
    }


    &--prev {
      left: -4.8rem;
      background-image: url(/images/common/1.top/4.voice/arrow-l.svg);
      background-repeat: no-repeat;
      @include sp {
        left: -1rem;
      }
    }

    &--next {
      right: -4.8rem;
      background-image: url(/images/common/1.top/4.voice/arrow-r.svg);
      background-repeat: no-repeat;
      @include sp {
        right: -1rem;
      }
    }

    &-icon {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.8rem 0 0.8rem 0.8rem;
      border-color: transparent transparent transparent rgba(100, 100, 100, 0.8);
      transition: border-color 0.3s ease;

      .p-voice__arrow--prev & {
        border-width: 0.8rem 0.8rem 0.8rem 0;
        border-color: transparent rgba(100, 100, 100, 0.8) transparent
          transparent;
      }

      .p-voice__arrow:hover & {
        border-color: transparent transparent transparent rgba(100, 100, 100, 1);

        .p-voice__arrow--prev & {
          border-color: transparent rgba(100, 100, 100, 1) transparent
            transparent;
        }
      }
    }
  }

  // スライダーラッパーの位置調整
  &__wrapper {
    position: relative;
    @include sp {
      padding: 0 2rem;
    }
    // &::before{

    // }
    // &::after{

    // }
  }
}
