@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

.p-concept {
  position: relative;
  padding-top: 6.3rem;
  padding-bottom: 5.8rem;
  @include sp {
    padding-top: 4.4rem;
    padding-bottom: initial;
  }
  &__title {
    h2 {
      font-size: 3.5rem;
      text-align: center;
      line-height: calc(50 / 35);
      @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
        font-weight: bold;
      }
    }
    p {
      font-size: 1.8rem;
      margin-top: 1.7rem;
      text-align: center;
      line-height: calc(30 / 18);
      @include sp {
        margin-top: 0.7rem;
        margin-bottom: 2rem;
        text-align: initial;
      }
    }
  }
  &__contents {
    // margin-top: 3.4rem;
    // @include sp {
    //   margin-top: 2rem;
    // }
  }
  &__topIcon {
    margin-top: 3.7rem;
    @include sp {
      margin-top: 2rem;
    }
  }

  &__flow {
    position: relative;
    display: grid;
    row-gap: 1.7rem;
    margin-top: 1.8rem;
    @include sp {
      margin: 3.2rem 0 4.1rem 0;
    }
    // 子要素（英語・●・日本語）
  }
  // アンダーバーからハイフンになるため→中心
  .p-concept-flow-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    @include sp {
      column-gap: 3rem;
    }
    // 矢印の上部（屋根部分）
    // 最初の子要素にbefore擬似要素
    // &::before {
    //   // top: -38%;
    //   top: -15%;
    //   left: 50%;
    //   content: "";
    //   position: absolute;
    //   transform: rotate(45deg);
    //   width: 2.5rem;
    //   height: 2.5rem;
    //   border-top: 0.3rem solid rgb(203, 0, 0);
    //   border-left: 0.3rem solid rgb(203, 0, 0);
    //   transform-origin: left top;
    // }
    // 矢印の縦線部分
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: -2.5rem;
    //   transform: translateX(-50%);
    //   width: 0.3rem;
    //   height: 19rem;
    //   background-color: rgb(203, 0, 0);
    //   transform-origin: left top;
    //   left: 44rem;
    //   @include sp {
    //     left: 50%;
    //   }
    // }
    // 英語部分
    &__en {
      font-size: 2.5rem;
      line-height: calc(50 / 25);
      text-align: right;
      width: 18rem;
      font-weight: bold;
      @include sp {
        font-size: 2rem;
        line-height: 2.5;
        width: initial;
        flex: 1;
      }
    }
    // 矢印全体
    &__circle {
      display: flex;
      align-items: center;
      flex-direction: column;
      // ●アイコンサイズ
      background-color: $color-red;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 0 3rem;
      @include sp {
        margin: initial;
      }
    }
    // 説明部分
    &__ja {
      font-size: 2.3rem;
      line-height: calc(50 / 23);
      width: 18rem;
      @include sp {
        font-size: 2rem;
        line-height: 2.5;
        flex: 1;
      }
    }
    &:last-of-type {
      .p-concept-flow-detail__circle {
        position: relative;
        span {
          // content: "";
          position: absolute;
          bottom: 1rem;
          transform: translateX(-50%);
          width: 0.3rem;
          height: 19rem;
          background-color: rgb(203, 0, 0);
          left: 50%;
          @include sp {
            left: 50%;
          }
          // 左右矢印共通部分
          &::before,
          &::after {
            content: "";
            width: 0.3rem;
            height: 2.5rem;
            background-color: $color-red;
            position: absolute;
            top: 0;
            border-radius: 0 0 0.2rem 0.2rem;
          }
            // 矢印左上
            &::before {
            transform: rotate(45deg);
            transform-origin: right top;
            left: 0.05rem;
          }
            // 矢印右上
            &::after {
            transform: rotate(-45deg);
            transform-origin: left top;
            right: 0.05rem;
          }
        }
      }
    }
  }
}
