@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// よくあるご質問
.p-blog {
  // padding: 7rem 0 27.2rem 0;
  padding: 9.5rem 0 20.8rem 0;
  @include sp {
    padding: 4.5rem 0 19rem 0;
  }
  &__title {
    // padding-top: 2rem;
    @include sp {
      padding-top: initial;
    }
    h2 {
      font-size: 3rem;
      line-height: calc(45 / 30);
      @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
      }
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    margin-top: 3.5rem;
    @include sp {
      margin-top: 3.9rem;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 4.3rem;
    }
  }
  &__image {
    img {
      height: 20rem;
      object-fit: cover;
    }
  }
  a {
    font-size: 2rem;
    line-height: calc(25 / 20);
  }
  @include sp {
    width: initial;
  }
  &__comment {
    padding: 2rem 0 1.1rem 0;
    font-weight: bold;
    @include sp {
      padding: 2.6rem 0 0.8rem 0;
      line-height: calc(30 / 20);
      font-size: 2rem;
    }
  }
  &__date {
    text-align: right;
    time {
      font-size: 1.7rem;
      line-height: calc(30 / 17);
    }
  }
  &__link {
    margin-top: 3.7rem;
    text-align: right;
    @include sp {
      text-align: center;
    }
    span {
      border-bottom: 0.1rem solid #000;
      a {
        @include sp {
          font-size: 1.8rem;
          line-height: calc(30 / 18);
        }
      }
    }
  }
}
