@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// 生徒さんたちの声
.p-voice {
  padding: 6.5rem 0 6rem;
  @include sp {
    padding: 4.5rem 0 5.1rem;
  }
  &__title {
    h2 {
      line-height: calc(50 / 30);
      font-size: 3rem;
      @include sp {
        font-size: 2.5rem;
        line-height: calc(40 / 25);
      }

    }
  }

  &__items {
    margin-top: 3.6rem;
    @include sp {
      margin-top: 4.3rem;
    }
  }
  &__item {
    width: 100%;
  }

  &__image {
    width: 27rem;
    @include sp {
      width: 33.5rem;
      height: 20rem;
    }
  }
  &__name {
    margin-top: 1.4rem;
    text-align: center;
    @include sp {
      margin-top: 2.3rem;
    }
    & span {
      font-size: 2.2rem;
      line-height: calc(33/22);
      font-weight: bold;
    }
  }
  &__comment {
    margin-top: 1rem;
    font-size: medium;
    @include sp {
      text-align: initial;
    }
    & p {
      font-size: 1.8rem;
      line-height: calc(30 / 18);
    }
  }
}
