@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
// ハンバーガーボタン
.p-header {
  z-index: 1000;
  width: 100%;
  height: 8rem;
  left: 0;
  top: 0;
  transition: all 0.3s;
  position: fixed;
  background-color: $color-white;
  @include sp {
    height: 5rem;
    padding-right: 0;
    @include sp {
      // width: initial;
    }
  }
  & .inner {
    @include sp {
      width: 100%;
    }
  }
  &__wrapper {
    display: flex;
    @include sp {
      padding-left: 2rem;
      height: 5rem;
      justify-content: space-between;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    height: 8rem;
    @include sp {
      display: initial;
      height: 5rem;
    }
  }
  &__scroll-bg {
    display: none;
    @include sp {
      display: flex;
      justify-content: space-between;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    @include sp {
      // height: 5rem;
    }
  }
  &__item {
    margin-right: 0.7rem;
    @include sp {
      display: flex;
      align-items: center;
    }
    a {
      @include sp {
        display: flex;
        align-items: center;
        img {
          @include sp {
            height: 3.1rem;
            width: 2rem;
          }
        }
      }
      @include sp {
        height: 5rem;
      }
    }
  }

  &__nav-wrapper {
    display: flex;
    align-items: center;
    column-gap: 3.3rem;
    margin-left: auto;
    @include sp {
      display: none;
    }
  }
  // ナビゲーション部分のお問い合わせボタン
  &__button {
    // width: 15rem;
    height: 4.5rem;
    display: flex;
    a {
      padding: 0.7rem 3rem 0.5rem 3rem;
      height: 100%;
    }
  }

  &__nav {
    ul {
      display: flex;
      column-gap: 3.3rem;
      li {
        height: 8rem;
        // width: 100%;
      }
      a {
        display: flex;
        align-items: center;
        height: 8rem;
        width: 100%;
        transition: all 0.3s;
        cursor: pointer;
      }
    }
  }

  @include sp {
    &__hb-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 7.2rem;
      height: 5rem;
      background-color: $color-red;
      row-gap: 0.7rem;
      cursor: pointer;
    }
    &__hb-line {
      @include sp {
        transition: 0.3s;
        display: block;
        background-color: $color-white;
        border-radius: 0.2rem;
        width: 3.2rem;
        height: 0;
        padding-block: 0.2rem;
      }
    }
  }
}
