@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

// 0409記述予定
// FVはWebページの画面領域、MVはFV内の大きな画像
.p-top-mv {
  position: relative;
  &__title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
  }
  &__titleInner {
    text-align: center;
    z-index: 99;
    color: $color-white;
    font-size: 4rem;
    line-height: calc(60 / 40);
    font-weight: bold;
  }
}

.p-concept {
  .inner {
    padding: 6.6rem 0 5.5rem;
  }
  &__title {
    h2 {
      font-size: 3.5rem;
      text-align: center;
    }
    p {
      font-size: 1.8rem;
      margin-top: 1.7rem;
      text-align: center;
    }
  }
  &__topIcon {
    margin-top: 3.4rem;
  }
  &__centerIcon {
    display: grid;
    row-gap: 5rem;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
  }
  &__comments {
  }
  &__comment {
    font-size: 2.5rem;
    line-height: calc(50 / 25);
  }
}

.p-reason {
  .inner {
    padding: 6.5rem 0 7rem;
  }
  &__items {
    margin-top: 2.8rem;
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
  }
}

// 生徒さんたちの声
.p-voice {
  padding: 6.5rem 0 6rem;
  &__wrapper {
    margin-top: 3.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.5rem;
  }
  &__name {
    margin-top: 1.7rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
  }
  &__comment {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    font-size: medium;
  }
}

// ご利用の流れ
.p-use {
  padding: 5.4rem 0 0 0;
}

// よくあるご質問
.p-faq {
  padding: 5.4rem 0 0 0;
}
