@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

.footer {
  position: relative;
  &__wrapper {
    background-color: $color-red;
    padding: 4rem 0 5rem 0;
    @include sp {
      padding: 4.2rem 0 5.2rem 0;
    }
  }
  &__nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 3.3rem;
      @include sp {
        column-gap: 2.9rem;
      }
      li {
        color: $color-white;
        a {
          cursor: pointer;
          position: relative;
          transition: 0.3s all;
          font-size: 1.7rem;
          line-height: calc(33 / 17);
          font-weight: bold;
          // ホバーした時に全部表示する
          &:hover::before {
            clip-path: inset(0 0 0 0);
            // 全表示状態
          }
          // ホバー
          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 0.1rem;
            background-color: $color-white;
            bottom: 0;
            top: 2.5rem;
            // 一番左寄せ
            left: 0;
            clip-path: inset(0 100% 0 0);
            // 上・右・下・左の順番
            // 今回は右から左に線を消す
            transition: 0.3s all;
          }
        }
      }
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0 1.9rem 0;
    width: 100%;
  }
  &__copyright {
    text-align: center;
    p {
      font-size: 1.5rem;
      line-height: calc(33 / 15);

      @include sp {
        line-height: calc(20 / 15);
      }
    }
  }

  &__sns-links {
    @include sp {
      margin-top: 2rem;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      // column-gap: calc(12.3 / 3 * 1rem);
      column-gap: 1.2rem;
      @include sp {
        column-gap: 1.2rem;
      }
    }
    a {
      display: block;
      width: 2.2rem;
    }
  }
}
