@use "../foundation/mixins" as *;
@use "../foundation/variables" as *;
// ハンバーガーメニュー（レイアウト部分）
// https://chatgpt.com/c/6860a96d-2690-8010-b4fb-2ac4186077a3
.l-header {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // ナビゲーション部分のお問い合わせボタン
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    width: 15rem;
    @include sp {
      display: none;
    }
    a {
      line-height: calc(33 / 15);
      font-size: 1.5rem;
      // 親要素に対して、子要素の横幅100%（横幅）
      width: 100%;
      // 親要素に対して、子要素の横幅100%（縦幅）
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // // ボタンの余白や配置を調整する
}
