@use "../foundation/mixins" as *;
@use "../foundation/variables" as *;
// ハンバーガーメニュー（レイアウト部分）
// https://chatgpt.com/c/6860a96d-2690-8010-b4fb-2ac4186077a3
.l-header {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // ナビゲーション部分のお問い合わせボタン
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    width: 15rem;
    @include sp {
      display: none;
    }
    a {
      line-height: calc(33 / 15);
      font-size: 1.5rem;
      // 親要素に対して、子要素の横幅100%（横幅）
      width: 100%;
      // 親要素に対して、子要素の横幅100%（縦幅）
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__hb {
    display: none;
    @include sp {
      display: flex;
      justify-content: space-between;
    }

    // ハンバーガーボタンがクリックされたとき
    &.active {
      @include sp {
        right: 0;
        // ハンバーガーopen時の動作（三→×）
        span {
          &:nth-child(1) {
            transform: rotate(45deg) translate(0.8rem, 0.8rem);
          }
          &:nth-child(2) {
            background-color: transparent;
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translate(0.8rem, -0.8rem);
          }
        }
      }
    }

    &-line {
      @include sp {
        transition: 0.3s;
        display: block;
        background-color: $color-white;
        border-radius: 0.2rem;
        width: 3.2rem;
        height: 0;
        padding-block: 0.2rem;
      }
    }

    @include sp {
      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 7.2rem;
        height: 5rem;
        background-color: $color-red;
        row-gap: 0.7rem;
        cursor: pointer;
        // ハンバーガーボタン　三本線部分
      }
    }
    &-line {
      @include sp {
        transition: 0.3s;
        display: block;
        background-color: $color-white;
        border-radius: 0.2rem;
        width: 3.2rem;
        height: 0;
        padding-block: 0.2rem;
      }
    }
  }
  // // ボタンの余白や配置を調整する
}
