@use "../foundation/mixins" as *;
@use "../foundation/variables" as *;
.l-header {
  &__hb {
    display: none;
    @include sp {
      display: flex;
      justify-content: space-between;
    }
    // ハンバーガーボタンがクリックされたとき
    &.active {
      @include sp {
        right: 0;
        // ナビゲーションメニューが表示された状態になる
        background-color: lightgreen;
        // ハンバーガーopen時の動作（三→×）
        span {
          &:nth-child(1) {
            transform: rotate(45deg) translate(0.8rem, 0.8rem);
          }
          &:nth-child(2) {
            background-color: transparent;
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translate(0.8rem, -0.8rem);
          }
        }
      }
    }

    &-line {
      @include sp {
        transition: 0.3s;
        display: block;
        background-color: $color-white;
        border-radius: 0.2rem;
        width: 3.2rem;
        height: 0;
        padding-block: 0.2rem;
      }
    }
    @include sp {
      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 7.2rem;
        height: 5rem;
        background-color: $color-red;
        row-gap: 0.7rem;
        cursor: pointer;
        // ハンバーガーボタン　三本線部分
      }
    }
  }
}
