@use "../foundation/mixins" as *; //spやpcでの表示サイズを読み込む
@use "../foundation/variables" as *; //min関数を読み込む

.l-header {
  // display: flex;
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__items {
    display: flex;
  }
  &__nav ul {
    display: flex;
  }
}
