@use "../foundation/mixins" as *; //spやpcでの表示サイズを読み込む
@use "../foundation/variables" as *; //min関数を読み込む

html {
  -webkit-appearance: none;
  appearance: none;
  // -webkit-text-size-adjust: 100%;
  // CSSでスムーズに戻すときはこちらを使い、jQuery使うときはコメントアウトする。
  scroll-behavior: smooth;
  word-break: break-all;
  box-sizing: border-box;
  scroll-padding-top: 8rem;
  // 1020以下フォントサイズをPC・タブレット・スマートフォン毎に設定する
  font-size: 10px;
  @media (min-width: 768px) and (max-width: 980px) {
    font-size: vw(10, 980);
    // フォントサイズは10pxで最大幅980px内に収まるように設定
  }
  @include sp {
    font-size: vw(10, 375);
    // フォントサイズは10pxで最大幅375px内に収まるように設定
    scroll-padding-top: 5rem;
  }
}

body {
  color: #000000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.6rem;
  padding-top: 8rem; // ヘッダーの高さ分の余白を追加
  @include sp {
    padding-top: 5rem; // SPの時はヘッダーの高さ分の余白を追加
  }
}

#main {
  background-color: #ddd;
  padding: 50px 0;
}

@include sp {
  .pc {
    display: none !important;
    // spの関数を使用するときは必ずpc部分は絶対に非表示
  }
}
@include pc {
  .sp {
    display: none !important;
    // spの関数を使用するときは必ずpc部分は絶対に非表示
  }
}

// 画像の自動調整部分を追記
img {
  width: 100%;
  height: auto;
  display: block;
}

#container {
  width: 100%;
  // overflow: hidden;
  // ↑横スクロールが非表示される。横スクロールが表示される場合に適用する。
  // position: stickyを使用する場合は、上記記述があると機能しない。
}

// 各セクション部分の全体幅設定
.inner {
  width: 88rem;
  // 1080-(100*2)
  margin: 0 auto;
  height: 100%;
  @include sp {
    width: 31.5rem;
    // SPの時の横幅は315pxで固定。
  }
}
